@import "bourbon/bourbon"


@import "./slides/slide1.css.sass"
@import "./slides/slide2.css.sass"
@import "./slides/slide3.css.sass"
@import "./slides/slide4.css.sass"
@import "./slides/slide5.css.sass"
@import "./slides/slide_last.css.sass"

@import "./slides/signup.css.sass"
@import "./slides/slide_backgrounds.css.sass"

body
  position: relative
  background-color: #EAEAEA
  font-family: Open Sans, sans-serif

.presentation
  color: #5A5A5A
  width: 784px
  margin: auto
  background-color: #fff
  min-height: 100%
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
  box-sizing: border-box
  padding: 0 30px
  padding-bottom: 20px
  position: relative
  z-index: 100
  h1, h2, h3, p
    text-align: center

  p
    font-size: 26px
    line-height: 1.7
    letter-spacing: -.5px
    font-family: Open Sans, sans-serif
    font-weight: 300
    letter-spacing: -1px
    strong
      font-weight: bold

  div[class*="slide"]
    padding: 115px 0
    border-bottom: 1px solid #eee


.do-things
  display: block
  width: 627px
  height: 240px
  margin: auto
  background: url("../img/landing/we_do_things.png") no-repeat
  margin-top: 150px
  text-indent: -99999px

a.logo
  display: block
  width: 341px
  height: 61px
  background: url("../img/ncombinator_logo.png") no-repeat
  text-indent: -9999px

