<!--START Main header -->
<header>

  <!--START #top-bar .container -->
  <aside id = "top-bar" class = "hidden container">
    <!--START .content -->
    <div class="content">
      <!--START .row -->
      <div class="row gutter-width-2">

        <!-- START GRID COLUMN-->
        <section class="c-6-12">

          <!-- START .about-us widget-->
          <div class="g widget">
            <h3 class="title ">Feel free to add any content you want inside this box</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>
            <input class="search animate" placeholder = "Type and hit enter" >
          </div>
          <!-- END/ .about-us widget-->

        </section>
        <!-- END/ GRID COLUMN-->

        <!-- START GRID COLUMN-->
        <section class="c-3-12">

          <!-- START .about-us widget-->
          <div class="g widget ">
            <h3 class="title ">Links list</h3>
            <ul class="list no-link-color">
              <li><a href="#">List item</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Vivamus condimentum</a></li>
              <li><a href="#">Mauris diam</a></li>
            </ul>
          </div>
          <!-- END/ .about-us widget-->

        </section>
        <!-- END/ GRID COLUMN-->

        <!-- START GRID COLUMN-->
        <section class="c-3-12">

          <!-- START .about-us widget-->
          <div class="g widget ">
            <h3 class="title ">Explorer more</h3>
            <ul class="list no-link-color">
              <li><a href="#">List item</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Vivamus condimentum</a></li>
              <li><a href="#">Mauris diam</a></li>
            </ul>
          </div>
          <!-- END/ .about-us widget-->

        </section>
        <!-- END/ GRID COLUMN-->

      </div>
      <!--END/ .row -->
    </div>
    <!--END/ .content -->
  </aside>
  <!--END/  #top-bar .hidden .container-->


  <!--START .container-->
  <div class = "container" >

    <!--#top-bar toggle button for small screens (visible on small screens) -->
    <div id = "ss-top" class="ss-only" ><span class="skin right" data-toggle ="#top-bar"><a href="#">+</a> </span></div>

    <!--START #header-logo -->
    <div id="header-logo">
      <a href="./">
        <img src="images/ncombinator_logo.png" alt="NCombinator"/>
      </a>
    </div>
    <!--END/ #header-logo -->

    <!--START #navigation -->
    <nav id="navigation">
      <ul>

        <!--START menu item -->
        <li <%= "class='current'" if @nav == "home" %>>
          <a href="./">Home</a>
        </li>
        <!--END/ menu item -->

        <!--START menu item -->
        <li <%= "class='current'" if @nav == "faq" %>>
          <a href="faq.html">FAQ</a>
        </li>
        <!--END/ menu item -->
      </ul>
    </nav>
    <!--END/ #navigation-->

  </div>
  <!--END/ .container -->


  <!--START .container-->
  <section class = "container">

    <!--START #page-header-->
    <div id ="page-header">

      <!--Intro text-->
      <h1 class="title-format-3 f-20">
        We are a new kind of virtual incubator, a tight-nit community of hackers who are dedicated to building and shipping stuff every week.
      </h1>

      <!--START .social-connect-->
      <ul class="social-connect">
        <li><a href="http://twitter.com/ncombinator" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
        <li><a href="#http://facebook.com/ncombinator" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
        <li><a href="#comingsoon" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
        <%# <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li> %>
        <%# <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li> %>
      </ul>
      <!--END/ .social-connect-->

    </div>
    <!--END/ #page-header-->

  </section>
  <!--END/ .container -->


</header>
<!--END/ Main header -->
