<!-- START secton - why us-->
<section>
  <!-- Section title-->
  <h1 class="section-title">Sign up for NCombinator   <!--Underline - hover effect--><span class="line-effect"></span></h1>

  <!--START .row-->
  <div class="row gutter-width-1 m-b-4">

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="mailto:startups@ncombinator.com?Subject=I'd like to participate!" class="g divider-right">

        <!--.circle-element-->
        <div class="circle-element skin left"><img  src="images/sample-content/icons/Breifcase.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text title-format-2 f-20">Startups</h2>
          <span class="sub-title f-13">I want to participate!</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="mailto:mentors@ncombinator.com?Subject=I'd like to mentor!" class="g divider-right">

        <!--.circle-element-->
        <div class="circle-element skin left"><img  src="images/sample-content/icons/Airplane.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text title-format-2  f-20">Mentors</h2>
          <span class="sub-title f-13">I want to help!</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="mailto:spectators@ncombinator.com?Subject=I'd like to spectate!"class="g ">

        <!--.circle-element-->
        <div class="circle-element skin left"><img src="images/sample-content/icons/Tools.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text  title-format-2 f-20">Spectators</h2>
          <span class="sub-title f-13">I want to watch!</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

  </div>
  <!--END/ .row-->
</section>
<!-- END/ secton - why us-->
