<% @body_id = "not-found-404" %>

<div class="center-text p m-t-4 m-b-2">

  <h3 class="title-format-2 f-60 gray-text">Oops...</h3>
  <h3 class="title-format-2 f-20 ">The page you've requesed doesn't exist.</h3>

  <hr>

  <p class="skin-text title-format-3 f-17">Maybe you could do a little search ..</p>
  <p><input placeholder="Type and hit Enter" class="search animate-long ss-full-width fontface rounded-fully" autofocus =""/></p>

</div>

