#topmenu.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.logo{:href => "./index.html"} nReduce

      %ul.nav{:style => "float: right"}

        %li
          %a{:href => "./how.html"} How it Works
        %li
          %a{:href => "./who.html"} Who we are
        %li
          %a{:href => "./faq.html"} FAQ
        %li
          %a{:href => "./signup.html"} Sign up


.social
  %span{:style => "margin-left: 230px; vertical-align: 8px" }
    %a{:href => "https://twitter.com/nReduce", :class => "twitter-follow-button", "data-show-count" => "false", "data-size" => "large", :style => "vertical-align: -40%" }Follow @nReduce
    %a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-url" => "http://nReduce.com", "data-text" => "An alliance of creators who stay accountable and support one another", "data-via"=>"nReduce", "data-size" => "large",  "data-related" => "ashbhoopathy, railsjedi, richlengsavath",  "data-hashtags" => "nReduce"} Tweet
