<% @body_id = "blog" %>

<!-- START .row-->
<div class ="row gutter-width-3">

  <!--START GRID COLUMN - contains post excerpts-->
  <article class="c-8-12">
    <div class="g  preload-images ">

      <!-- START .post .excerpt -->
      <div class="post excerpt">

        <!-- START post header -->
        <header>

          <!--post tutle-->
          <h2 class="title"><a href="single-blog-post.html">Awesome HTML template</a></h2>

          <!-- START post info -->
          <div class="post-info">
            Posted on <time datetime="2012-01-24" > January 24, 2012 </time>
            by <a  rel="author" href="#" > Your Name </a>
            with <a href="#comments">50 comments</a>
          </div>
          <!-- END/ post info -->

        </header>
        <!-- END/ post header -->

        <!-- START .post-content-->
        <div class ="post-content image-caption-format-1">

          <a class="image"  href="#" data-image-caption="Here goes the content you want <span class='title skin-text '>Hey this is awesome... </span>" >
            <img src="images/sample-content/slide4.png" alt=""/>
          </a>

          <p>Lorem ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam  operibus furiam  ne alicuius altum pervenit est amet amet Cur meae.</p>
          <p>Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne alicuius altum pervenit est amet amet Cur meae ... ... </p>

        </div>
        <!-- END/ .post-content-->

        <!-- read-more link -->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>

      </div>
      <!-- END/ .post .excerpt -->



      <!-- START .post .excerpt -->
      <div class="post excerpt">

        <!-- START post header -->
        <header>

          <!--post tutle-->
          <h2 class="title"><a href="single-blog-post.html">Awesome HTML template</a></h2>

          <!-- START post info -->
          <div class="post-info">
            Posted on <time datetime="2012-01-24" > January 24, 2012 </time>
            by <a  rel="author" href="#" > Your Name </a>
            with <a href="#comments">50 comments</a>
          </div>
          <!-- END/ post info -->

        </header>
        <!-- END/ post header -->

        <!-- START .post-content-->
        <div class ="post-content">

          <a class="skin image"  href="#" data-image-caption="<span class='title skin-text '>Just another caption </span>" >
            <img src="images/sample-content/slide3.png" alt=""/>
          </a>

          <p>Lorem ipsum dolor sit amet, verenam conclusoque sponte profundo. Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne alicuius altum pervenit est amet amet Cur meae ... </p>

        </div>
        <!-- END/ .post-content-->

        <!-- read-more link -->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>

      </div>
      <!-- END/ .post .excerpt -->



      <!--START .post .excerpt -->
      <div class="post excerpt">

        <!-- START post header -->
        <header>

          <!--post tutle-->
          <h2 class="title"><a href="single-blog-post.html">Awesome HTML template</a></h2>

          <!-- START post info -->
          <div class="post-info">
            Posted on <time datetime="2012-01-24" > January 24, 2012 </time>
            by <a  rel="author" href="#" > Your Name </a>
            with <a href="#comments">50 comments</a>
          </div>
          <!-- END/ post info -->

        </header>
        <!-- END/ post header -->

        <!-- START .post-content-->
        <div class ="post-content">

          <a class="skin image"  href="#" data-image-caption="<span class='title skin-text'>Just another caption</span>  you can add any element" >
            <img src="images/sample-content/slide2.png" alt=""/>
          </a>

          <p>Lorem ipsum dolor sit amet, verenam conclusoque sponte profundo. Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne alicuius altum pervenit est amet amet Cur meae ... </p>

        </div>
        <!-- END/ .post-content-->

        <!-- read-more link -->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>

      </div>
      <!-- END/ .post .excerpt -->



      <!-- START .post .excerpt -->
      <div class="post excerpt">

        <!-- START post header -->
        <header>

          <!--post tutle-->
          <h2 class="title"><a href="single-blog-post.html">Awesome HTML template</a></h2>

          <!-- START post info -->
          <div class="post-info">
            Posted on <time datetime="2012-01-24" > January 24, 2012 </time>
            by <a  rel="author" href="#" > Your Name </a>
            with <a href="#comments">50 comments</a>
          </div>
          <!-- END/ post info -->

        </header>
        <!-- END/ post header -->

        <!-- START .post-content-->
        <div class ="post-content">

          <a class="skin image"  href="#" data-image-caption="<span class='title skin-text '>Just another caption</span>  you can add any element" >
            <img src="images/sample-content/slider.png" alt=""/>
          </a>

          <p>Lorem ipsum dolor sit amet, verenam conclusoque sponte profundo. Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne alicuius altum pervenit est amet amet Cur meae ... </p>

        </div>
        <!-- END/ .post-content-->

        <!-- read-more link -->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>

      </div>
      <!-- END/ .post .excerpt -->



      <!--Older posts button -->
      <a class="skin button fontart-x1 m-t-3" href="#">&larr; Older posts ...</a>


    </div>
  </article>
  <!-- END / GRID COLUMN   contains post excerpts-->


  <!--START GRID COLUMN .sidebar -->
  <aside class="sidebar c-4-12">
    <div class="g">


      <!--START .widget -->
      <section class ="widget mark-links">

        <p class="fontface-1 gray-text"><span class="title-format-2 bold skin-text f-17">Hey this is awesome..</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci.</p>

        <!-- search -->
        <form>
          <input placeholder="Search Blog Posts" class="search animate-long "/>
        </form>

      </section>
      <!-- END / .widget-->


      <!--START .recent-posts .widget -->
      <section class ="recent-posts preload-images widget">

        <h3 class="title">Recent posts</h3>
        <ul>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb1.png" ></a>
            <div class="content">
              <a href="#">Kinda Long title goes like this you see it's pretty long</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb3.png"></a>
            <div class="content">
              <a href="#">This ain't a long title but I can make it like this</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb2.png"></a>
            <div class="content">
              <a href="#">Here goes the titlte</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

        </ul>

      </section>
      <!-- END / .recent-posts .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Categories</h3>
        <ul class="list">
          <li><a href="#"> List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">Graphics <span class="gray-3 white-text mark right rounded-fully">17</span> </a></li>
          <li><a href="#">Web designing <span class="gray-3 white-text mark right rounded-fully">7</span> </a></li>
          <li><a href="#">Lorem ipsum <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Archive</h3>
        <ul class="list">
          <li><a href="#">October </a></li>
          <li><a href="#">November </a></li>
          <li><a href="#">December </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Keep browsing..</h3>
        <ul class="list">
          <li><a href="#">Skin and font changer</a></li>
          <li><a href="#">demention Grid</a></li>
          <li><a href="demo-typography.html">Typography</a></li>
          <li><a href="#">Contact us </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="flickr widget">

        <h3 class="title">Flickr feed</h3>
        <div class="row ss-float gallery-style-2 portrait-3-col animate-long" id="flickr"></div>

      </section>
      <!-- END / .widget-->


    </div>
  </aside>
  <!--END / GRID COLUMN  .sidebar -->

</div>
<!-- END / .row-->

