<% @body_id = "add-a-page-specific-id" %>

<section class="info">
  <h2 class="title">They're Highly Customizable </h2>
  <ul class="check list">
    <li>Pricing boxes are build on the <a href="demo-grid.html">demention Grid</a> so changing column count , width , gutter size ,etc. is easy as changing the unit number of grid classes.</li>
    <li>By simply using the Grid system and other premade classes , you can easily make nice looking pricing tables without adding a line of new CSS !</li>
    <li>Change the current skin  and see how pricing tables respond to skin colors.</li>
  </ul>
</section>


<hr>



<!-- START CODE SNIPPETS -  PRICING TABLES ************************************************************************************************************************** -->



<h2 class="center-text h3 m-b-4">Pricing table <mark>#1</mark></h2>


<!--START .pricing-table #1-->
<div class="rounded gray p-1">
  <div class="pricing-table row gutter-width-1">

    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box">

        <!--TITLE-->
        <h3 class="title gray-text">Basic</h3>

        <!--START .price -->
        <div class="price">
          <span>$10</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Gutter sizes</a></li>
          <li>Column width</li>
          <li>Highly customizable</li>
          <li>Awesome</li>
          <li class="close">This one</li>
          <li class="close">That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g white rounded pricing box shadow-3 ">

        <!--TITLE-->
        <h3 class="title green-text">Premium</h3>

        <!--RIBBON - featured-->
        <span class="ribbon"></span>

        <!--START .price -->
        <div class="price">
          <span>$48</span>
          <small>per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>Gutter sizes</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Column width</a></li>
          <li>Highly customizable</li>
          <li>Awesome</li>
          <li>This one</li>
          <li class="close">That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="green button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box ss-divider">

        <!--TITLE-->
        <h3 class="title orange-text">Business</h3>

        <!--START .price -->
        <div class="price">
          <span>$89</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>Gutter sizes</li>
          <li>Column width</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Highly customizable</a></li>
          <li>Awesome</li>
          <li>This one</li>
          <li>That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="orange button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box">

        <!--TITLE-->
        <h3 class="title blue-text">Ultimate</h3>

        <!--START .price -->
        <div class="price">
          <span>$99</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list ">
          <li>Gutter sizes</li>
          <li>Column width</li>
          <li>Highly customizable</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Awesome</a></li>
          <li>This one</li>
          <li>That one</li>
          <li>This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="blue button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->

  </div><!--END/ .pricing-table-->
</div><!--END/ background wrapper-->

<!--END/ pricing-table #1-->


<hr>


<h2 class="center-text h3 m-b-4">Pricing table <mark>#2</mark>- default skin colors(they change when you change the skin)</h2>

<!--START .pricing-table #2-->
<div class="rounded gray  p-1">
  <div class="pricing-table row gutter-width-1">

    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box">

        <!--TITLE-->
        <h3 class="title gray-text">Basic</h3>

        <!--START .price -->
        <div class="price">
          <span>$10</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Gutter sizes</a></li>
          <li>Column width</li>
          <li>Highly customizable</li>
          <li>Awesome</li>
          <li class="close">This one</li>
          <li class="close">That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g white rounded pricing box shadow-3 ">

        <!--TITLE-->
        <h3 class="title skin-text">Premium</h3>

        <!--RIBBON - featured-->
        <span class="ribbon"></span>

        <!--START .price -->
        <div class="price skin-text">
          <span>$48</span>
          <small>per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>Gutter sizes</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Column width</a></li>
          <li>Highly customizable</li>
          <li>Awesome</li>
          <li>This one</li>
          <li class="close">That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="skin button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box ss-divider">

        <!--TITLE-->
        <h3 class="title gray-text">Business</h3>

        <!--START .price -->
        <div class="price">
          <span>$89</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>Gutter sizes</li>
          <li>Column width</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Highly customizable</a></li>
          <li>Awesome</li>
          <li>This one</li>
          <li>That one</li>
          <li class="close">This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-3-12">

      <!--START PRICING BOX-->
      <div class="g pricing box">

        <!--TITLE-->
        <h3 class="title gray-text">Ultimate</h3>

        <!--START .price -->
        <div class="price">
          <span>$99</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list ">
          <li>Gutter sizes</li>
          <li>Column width</li>
          <li>Highly customizable</li>
          <li><a class = "more-info" data-tooltip="<div class='fontface-1 white-text'>You can add .more-info class and a tooltip to give more info about a section</div>">Awesome</a></li>
          <li>This one</li>
          <li>That one</li>
          <li>This one</li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->

  </div><!--END/ .pricing-table-->
</div><!--END/ background wrapper-->

<!--END/ pricing-table #2-->




<hr>




<h2 class="center-text h3 m-b-4">Pricing table <mark>#3</mark>- default skin colors(they change when you change the skin)</h2>

<!--START .pricing-table #3-->
<div class="rounded gray">
  <div class="pricing-table row gutter-width-1">


    <!--START GRID COLUMN-->
    <div class="c-4-12">

      <!--START PRICING BOX-->
      <div class="g pricing box p">

        <!--TITLE-->
        <h3 class="title gray-text">Basic</h3>
        <span class="sub-title center-text">Our Most Popular</span>

        <!--START .price -->
        <div class="price">
          <span>$10</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            You can add more info
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Vivamus condimentum, quam ac luctus rutrum
          </li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase fontart-x1" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-4-12">

      <!--START PRICING BOX-->
      <div class="g white pricing box shadow-3 p">

        <!--TITLE-->
        <h3 class="title skin-text">Premium</h3>
        <span class="sub-title center-text">Our Most Popular</span>

        <!--START .price -->
        <div class="price skin-text">
          <span>$48</span>
          <small>per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>
            <div class="f-17 title-format-2 block">List Item Title</div>
            You can add more info
          </li>
          <li>
            <div class="f-17 title-format-2 block">Pellentesque condimentum</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Vivamus condimentum, quam ac luctus rutrum
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="skin button uppercase fontart-x1" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->


    <!--START GRID COLUMN-->
    <div class="c-4-12">

      <!--START PRICING BOX-->
      <div class="g pricing box p">

        <!--TITLE-->
        <h3 class="title gray-text">Business</h3>
        <span class="sub-title center-text">Our Most Popular</span>

        <!--START .price -->
        <div class="price">
          <span>$89</span>
          <small>Per month</small>
        </div>
        <!--END/ .price -->

        <!--START .list -->
        <ul class="check list">
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            You can add more info
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </li>
          <li>
            <div class="f-17 title-format-2 block">List Item</div>
            Vivamus condimentum, quam ac luctus rutrum
          </li>
        </ul>
        <!--END/ .list -->

        <!--START .bottom -->
        <div class="bottom">
          <a class="button uppercase fontart-x1" href="#">Purchase</a>
        </div>
        <!--END/ .bottom -->

      </div>
      <!--END / PRICING BOX-->

    </div>
    <!--END / GRID COLUMN-->

  </div><!--END/ .pricing-table-->
</div><!--END/ background wrapper-->

<!--END/ pricing-table #3-->




<!-- END CODE SNIPPETS ************************************************************************************************************************** -->

