<body id ="add-a-page-specific-id" onload="prettyPrint()">

  <!--START Main header -->
  <header>

    <!--START #top-bar .container -->
    <aside id = "top-bar" class = "hidden container">
      <!--START .content -->
      <div class="content">
        <!--START .row -->
        <div class="row gutter-width-2">

          <!-- START GRID COLUMN-->
          <section class="c-6-12">

            <!-- START .about-us widget-->
            <div class="g widget">
              <h3 class="title ">Feel free to add any content you want inside this box</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>
              <input class="search animate" placeholder = "Type and hit enter" >
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Links list</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Explorer more</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

        </div>
        <!--END/ .row -->
      </div>
      <!--END/ .content -->
    </aside>
    <!--END/  #top-bar .hidden .container-->


    <!--START .container-->
    <div class = "container" >

      <!--#top-bar toggle button for small screens (visible on small screens) -->
      <div id = "ss-top" class="ss-only" ><span class="skin right" data-toggle ="#top-bar"><a href="#">+</a> </span></div>

      <!--START #header-logo -->
      <div id="header-logo">
        <a href="./">
          <img src="images/sample-content/logo.png" alt="GearBox HTML"/>
        </a>
      </div>
      <!--END/ #header-logo -->

      <!--START #navigation -->
      <nav id="navigation">
        <ul>

          <!--START menu item -->
          <li>
            <a href="./">Home</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="#">Pages</a>

            <!--START dropdown level one -->
            <ul>

              <li><a href="#">Home suggestions</a>
                <ul>
                  <li><a href="home-suggestion-2.html">Home suggestion 2</a></li>
                  <li><a href="home-suggestion-3.html">Home suggestion 3</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li><a href="#">More pages</a>
                <ul>
                  <li><a href="layout-nav+content+sidebar.html">nav + content + sidebar</a></li>
                  <li><a href="portfolio-single.html">Portfolio single</a></li>
                  <li><a href="faq-page.html">FAQ page</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li><a href="#">Galleries</a>
                <ul>
                  <li><a href="gallery-two-col.html">gallery two col</a></li>
                  <li><a href="gallery-three-col.html">gallery three col</a></li>
                  <li><a href="gallery-four-col.html">gallery four col</a></li>
                  <li><a href="gallery-four-col-style-1.html">gallery four col (style 1)</a></li>
                  <li><a href="gallery-three-col-style-2.html">gallery three col (style 2)</a></li>
                </ul>
              </li>

              <li><a href="blog-posts.html">Blog posts</a></li>

              <li><a href="single-blog-post.html">Blog single post </a></li>

              <li><a href="contact-page.php">Contact page</a></li>

              <li><a href="demo-pricing-tables.html">Pricing tables</a></li>

              <li><a href="404-not-found.html">404 Not found</a></li>

              <li><a href="#">A Lot more to come...</a></li>

            </ul>
            <!--END/ dropdown level one -->

          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="demo-typography.html">Typography</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li class ="current">
            <a href="demo-grid.html">Grid</a>
          </li>
          <!--END/ menu item -->

          <!--START #top-bar toggle button-->
          <li data-toggle ="#top-bar" class="skin">
            <a href="#top-bar">+</a>
          </li>
          <!--END/ #top-bar toggle button -->

        </ul>
      </nav>
      <!--END/ #navigation-->

    </div>
    <!--END/ .container -->


    <!--START .container-->
    <section class = "container">

      <!--START #page-header-->
      <div id ="page-header">

        <!-- START page title Note : you can also use h1 , h2 etc. -  make sure you add .title and .sub -->
        <h2 class=" title">demention Grid</h2>
        <span class="sub">v1.0 beta </span>
        <!-- END/ page title -->

      </div>
      <!--END/ #page-header-->

    </section>
    <!--END/ .container -->


  </header>
  <!--END/ Main header -->


  <!--START #page -->
  <div id="page">

    <!-- START noscript alert -->
    <noscript>
      <div  class="alert">
        <h5 class="title">Javascript is disabled in your browser :( </h5>
        Javascript is required to work this site properly.
      </div>
    </noscript>
    <!-- END/ noscript alert -->



    <div class="row m-b-3">

      <div class="row gutter-width-1 portrait-no-floating">

      <div class="c-4-12">
        <div class="g">
          <p class="title-format-2 f-20">The template comes with our brand new and <span class="skin-text"> powerful </span> CSS grid system.</p>
          <p class="title-format-3 f-17">It is Responsive. It can position columns <a href=" ">regardless of the source order</a>; it has <a href="">different gutter sizes</a> to choose from, and has many more features that you'll love. </p>
        </div>
      </div>

      <div class="c-8-12">

<pre class="g f-17 prettyprint">&lt;div class="row gutter-width-1"&gt;

&lt;div class="c-10-16"&gt;
 &lt;div class="g any-styling-you-want"&gt;
   &lt;!--Your content goes here --&gt;
 &lt;div&gt;
&lt;div&gt;

&lt;div class="c-6-16"&gt;
 &lt;div class="g any-styling-you-want"&gt;
   &lt;!--Your content,even another row --&gt;
 &lt;div&gt;
&lt;div&gt;

&lt;/div&gt;</pre>
        </div>
      </div>
    </div>


        <h2 class="section-title">Columns</h2>
        <section>
          <h3  class="title-format-2">16 columns</h3>
          <div>
            <div ><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-15-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-1-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-14-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-2-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-13-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-3-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-12-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-4-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-11-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-5-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-10-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-6-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-9-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-7-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-8-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-8-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-7-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-9-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-6-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-10-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-5-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-11-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-4-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-12-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-3-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-13-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-2-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-14-16"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-1-16"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-15-16"><p class="g p-1 smart-gray">.</p></div>
          </div>

        </section>

        <hr>

        <section>
          <h3  class="title-format-2">12 columns</h3>
          <div>
            <div ><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-11-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-1-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-10-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-2-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-9-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-3-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-8-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-4-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-7-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-5-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-6-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-6-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-5-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-7-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-4-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-8-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-3-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-9-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-2-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-10-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-1-12"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-11-12"><p class="g p-1 smart-gray">.</p></div>
          </div>

        </section>
        <hr>
        <section >
          <h3  class="title-format-2">5 columns</h3>


          <div class="row gutter-width-1">
            <div class ="c-1-5"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-4-5"><p class="g p-1 smart-gray">.</p></div>
          </div>

          <div class="row gutter-width-1">
            <div class ="c-2-5"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-3-5"><p class="g p-1 smart-gray">.</p></div>
          </div>

          <div class="row gutter-width-1">
            <div class ="c-3-5"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-2-5"><p class="g p-1 smart-gray">.</p></div>
          </div>

          <div class="row gutter-width-1">
            <div class ="c-4-5"><p class="g p-1 smart-gray">.</p></div>
            <div class ="c-1-5"><p class="g p-1 smart-gray">.</p></div>
          </div>

          <div class="row gutter-width-1">
            <div><p class="g p-1 smart-gray">.</p></div>
          </div>


        </section>
        <hr>
        <section >
          <h3 class="title-format-2">Offset classes : <code>.offset-*-*</code></h3>

          <div class="row gutter-width-1">
            <div class ="c-3-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="offset-3-12 c-3-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="offset-6-12 c-3-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <div class="row gutter-width-1 m-b">
            <div class ="offset-9-12 c-3-12"><p class="g p-1 smart-gray">.</p></div>
          </div>
          <p>and so on...</p>

        <hr>
        <section>
          <h2 >Push and pull : <code>push-*-*</code> , <code>pull-*-*</code></h2>
          <div class="row gutter-width-1">
            <div class ="push-11-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-10-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-9-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-8-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>              <div class="row gutter-width-1">
            <div class ="push-7-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-6-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-5-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-4-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>              <div class="row gutter-width-1">
            <div class ="push-3-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-2-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="push-1-12 c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>
          <div class="row gutter-width-1">
            <div class ="c-1-12"><p class="g p-1 smart-gray">psh</p></div>
          </div>

        </section>



        <hr>
        <section >
          <h2 >Want to center columns ?</h2>
          <p class="sub-title">If your <code>.row</code> has only one column , you can align it centered by adding <code>.centered</code> class to the column .</p>


          <div class="row gutter-width-1">
            <div class ="c-1-5 center"><p class="g p-1 smart-gray">c-1-5 column centered</p></div>
          </div>

          <div class="row gutter-width-1">
            <div class ="c-10-12 center"><p class="g p-1 smart-gray">c-10-12 column centered</p></div>
          </div>


          <div class="row gutter-width-1">
            <div class ="c-5-16 centered"><p class="g p-1 smart-gray">c-5-16 column centered</p></div>
          </div>

          <div class="row gutter-width-1">
            <div class ="c-5-16 centered"><p class="g p-1 smart-gray center-text"><img src="images/sample-content/portfolio4.png" alt=""></p></div>
          </div>


          <h3 class="center-text m-t m-b">Nested columns in the centered column</h3>
          <div class="row smart-gray p-b">
            <div class ="c-10-16 centered">
              <h4 class="center-text">Centered column</h4>
              <div class="g p-1 smart-gray">

                <div class="row gutter-width-2">
                  <div class="c-4-12"><div class="g p smart-gray"> 4/12 column nested </div></div>
                  <div class="c-4-12"><div class="g p smart-gray"> 4/12 column nested</div></div>
                  <div class="c-4-12"><div class="g p smart-gray"> 4/12 column nested</div></div>
                </div>

              </div>
            </div>
          </div>

        </section>


        <hr>


        <section >
          <h2 class="title-format-2">Nesting rows and columns</h2>
          <p class="sub-title">With the demention Grid , you can make complex layouts easier than ever before.</p>

          <div class="row gutter-width-1 m-b">
            <div class ="c-4-12"><div class="g p smart-gray"> 4/12 column with 20px Gutter</div></div>
            <div class ="c-8-12">
              <div class="g smart-gray">
                <div class="row gutter-width-1">
                  <div class ="c-4-12"><div class="g p smart-gray"> 4/12 column nested</div></div>
                  <div class ="c-4-12"><div class="g p smart-gray"> 4/12 column nested</div></div>
                  <div class ="c-4-12"><div class="g p smart-gray"> 4/12 column nested</div></div>
                </div>
              </div>
            </div>
          </div>

          <h2 class="title-format-2 m-t-3 m-b">You can even change the gutter sizes of nested columns .. How cool is that ?</h2>
          <div class="m-b p smart-gray">
            <div class="row gutter-width-1">
              <div class ="c-3-12"><div class="g p smart-gray"> 3/12 column with 20px Gutter</div></div>
              <div class ="c-9-12">
                <div class="g smart-gray">
                  <div class="row gutter-width-3">
                    <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter </div></div>
                    <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter</div></div>
                    <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter </div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <h3 class="center-text m-t-3">example 3</h3>
          <div class="row gutter-width-1 m-b center-text">
            <div class ="c-4-12"><div class="g p smart-gray"> 4/12 column with 20px Gutter</div></div>
            <div class ="c-8-12">
              <div class="g smart-gray">
                <div class="row">
                  <div class="c-5-12 centered"><p class="g p-1 smart-gray">I'm centered</p><img alt="" src="images/sample-content/portfolio3.png"> </div>
                </div>
              </div>
            </div>
          </div>


        </section>
        <hr>


        <section >
          <h2 >Gutter sizes</h2>
          <h3 class="sub-title m-b-4">To change the gutter size , all you have to do is to change the gutter class unit (<code>.gutter-width-*</code>) in the row.</h3>

          <div class="row gutter-width-0">
            <div class ="c-4-12"><p class="g p smart-gray"> No gutter</p></div>
            <div class ="c-4-12"><p class="g p  gray"> No gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray"> No gutter</p></div>
          </div>


          <div class="row gutter-width-1">
            <div class ="c-4-12"><p class="g p smart-gray"> 4/12 column with 20px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray"> 4/12 column with 20px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray"> 4/12 column with 20px Gutter</p></div>
          </div>


          <div class="row gutter-width-2">
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 40px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 40px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 40px Gutter</p></div>
          </div>


          <div class="row gutter-width-3">
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 60px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 60px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 60px Gutter</p></div>
          </div>


          <div class="row gutter-width-4">
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 80px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 80px Gutter</p></div>
            <div class ="c-4-12"><p class="g p smart-gray">4/12 column with 80px Gutter</p></div>
          </div>
        </section>




        <hr>
        <section id="src-ordr-ind">
          <h2>Source-order indipendant positioning</h2>
          <p class="sub-title"> If you have only two columns to change the order , just use <code>force-right</code> class . When you want more control over this , use <code>push-*-*</code> and <code>push-*-*</code> classes.</p>
          <p>Example 1</p>
          <div class="row gutter-width-1">
            <div class ="c-8-12 force-right">
              <div class ="g p smart-gray">
                <p> Markup order #1 </p>
                <p> for Primary content (This one is  defined prior to the other column  in the markup structure).</p>
              </div>
            </div>
            <div class ="c-4-12">
              <div class ="g p smart-gray">
                <p> Markup order #2 </p>
                <p> for Secondary content. </p>
              </div>
            </div>
          </div>
          <hr>
          <p>Example 2</p>
          <div class="row gutter-width-1 m-t">
            <div class ="c-6-12 push-3-12">
              <div class ="g p smart-gray">
                <p> Markup order #1 </p>
                <p>This column is the first item in the markup order.</p>
              </div>
            </div>
            <div class ="c-3-12 pull-6-12">
              <div class ="g p smart-gray">
                <p> Markup order #2 </p>
                <p> for Secondary content </p>
              </div>
            </div>
            <div class ="c-3-12">
              <div class ="g p smart-gray">
                <p> Markup order #3 </p>
                <p> for Secondary content </p>
              </div>
            </div>
          </div>
        </section>


          <hr>
          <p>Example 4</p>
          <div class="row gutter-width-1 m-t">

            <div class ="c-4-16 push-10-16">
              <div class ="g p smart-gray min-h-1">
                <p> Markup order #1 </p>
              </div>
            </div>
            <div class ="c-8-16 pull-4-16">
              <div class ="g p smart-gray min-h-1">
                <p> Markup order #2 </p>
              </div>
            </div>
            <div class ="c-2-16 push-2-16">
              <div class ="g p smart-gray min-h-1">
                <p> Markup order #3 </p>
              </div>
            </div>

            <div class ="c-2-16 pull-6-16">
              <div class ="g p smart-gray min-h-1">
                <p> Markup order #4 </p>
              </div>
            </div>
          </div>

        </section>





        <hr>
        <section >
          <h2>Hybrid layouts</h2>
          <p class="sub-title">A Hybrid layout has one or two fixed (custom) columns and one fluid column. You can also nest columns within them to make complex layouts </p>



          <div class="row hybrid-l2 gutter-width-1 m-t">

            <div class ="c-l2">
              <div class ="g p white-text orange min-h-1">
                <p> FIXED PART</p>
              </div>
            </div>

            <div class ="c-fluid">
              <div class ="g p smart-gray min-h-1">
                <p> FLUID PART </p>
              </div>
            </div>
          </div>



          <div class="row hybrid-l2-r1 gutter-width-1 m-t m-b">

            <div class ="c-l2">
              <div class ="g p white-text orange min-h-1">
                <p> FIXED PART</p>
              </div>
            </div>

            <div class ="c-fluid">
              <div class ="g p smart-gray min-h-1">
                <p> FLUID PART </p>
              </div>
            </div>

            <div class ="c-r1">
              <div class ="g p white-text orange min-h-1">
                <p> FLUID PART </p>
              </div>
            </div>

          </div>
          <p>and more...</p>
        </section>


        <hr>


        <section id="ss-float">
          <h2 >Keep floating even on small screens (If you want)</h2>
          <p class="sub-title">By default , the grid system sets <code>float</code> to none on small screens. By just adding <code>.ss-float</code> to the row , you can stop this default behaviour.</p>


          <div class="row gutter-width-1 m-t m-b ss-float">

            <div class ="c-5-12">
              <div class ="g p white-text orange min-h-1">
                <p>Column</p>
              </div>
            </div>

            <div class ="c-7-12">
              <div class ="g p smart-gray min-h-1">
                <p> Column</p>
              </div>
            </div>

          </div>


          <p class="m-t-3">EG 2 - see how this layout acts on different screen sizes ( this feature is really awesome )</p>

          <div class="row gutter-width-1 ss-float m-b p smart-gray">
            <div class ="c-3-12"><div class="g p  green white-text"> this colomn and the other green column will stay the same but see how blue columns act on small screens.</div></div>
            <div class ="c-9-12">
              <div class="g green p">
                <div class="row gutter-width-1">
                  <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter </div></div>
                  <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter</div></div>
                  <div class ="c-4-12"><div class="g p  blue white-text"> 4/12 column nested - with 60px gutter </div></div>
                </div>
              </div>
            </div>
          </div>


        </section >


      <hr>





        <section id="ss-float">
          <h2 >Change the column count On the fly !</h2>
          <p class="sub-title">By default , the grid system sets <code>float</code> to none on small screens. By just adding <code>.ss-float</code> to the row , you can stop this default behaviour.</p>


          <div class="row gutter-width-1 m-t m-b ss-float portrait-3-col ss-2-col">

            <div class ="c-3-12">
              <div class ="g p white-text orange min-h-1">
                <p>Column</p>
              </div>
            </div>

            <div class ="c-3-12">
              <div class ="g p smart-gray min-h-1">
                <p> Column</p>
              </div>
            </div>

            <div class ="c-3-12">
              <div class ="g p smart-gray min-h-1">
                <p> Column</p>
              </div>
            </div>

            <div class ="c-3-12">
              <div class ="g p smart-gray min-h-1">
                <p> Column</p>
              </div>
            </div>
          </div>


        </section >

      <hr>
        <p>you can even extend the grid easily ( The documentation contains more details about that)</p>
      <hr>
      <a href="demo-typography.html" class="fontart-x1 skin button">See Typography demo</a>

  </div>
  <!-- END/ #page -->



  <!-- START global footer -->
  <footer>
    <section class = "container" >

      <!-- START .row-->
      <div class ="row gutter-width-2">

        <!-- START GRID COLUMN-->
        <section class ="c-5-16">
          <!-- START .about-us widget-->
          <div class ="g about-us widget">

            <h3 class="title ">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>

            <section>
              <h4 class="title">Stay connected..</h4>

              <!-- START .social-connect-->
              <ul class="social-connect">
                <li><a href="#" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
                <li><a href="#" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li>
              </ul>
              <!-- END/ .social-connect-->

            </section>

          </div>
          <!-- END/ .about-us widget-->
        </section>
        <!-- END/ GRID COLUMN-->

        <!-- START GRID COLUMN-->
        <aside class ="c-6-16">
          <!-- START .about-us widget-->
          <div class ="g twitter widget">

            <h3 class="title">Latest tweets</h3>
            <div id = "twits">
              Loading...
            </div>

          </div>
          <!-- END/ .about-us widget-->
        </aside>
        <!-- END/ GRID COLUMN-->

        <aside class="c-5-16">
          <!-- START .flickr widget-->
          <div class="g flickr widget animate-all">

            <p class="title-format-3 gray-text f-13 m-0 ">talk to a real person</p>
            <p class=" f-20 fontart-3 fontface-2 divider-bottom m-b-1">Call us 123-456-7890</p>

            <h3 class="title"> newsletter</h3>
            <p>Join our newsletter to get weekly updates on our nerw theme releases and theme updates</p>

            <form>
              <input placeholder="Enter your Email"> <button class="skin button">Sign up </button>
            </form>

          </div>
          <!-- END/ .flickr widget-->
        </aside>


      </div>
      <!-- END/ .row -->

      <!-- START #copyright-note-->
      <div class ="row" id ="copyright-note">

        <!--START #footer-nav-->
        <div  id ="footer-nav" class="semi-left uppercase">
          <a href="./">Home</a> <a href="#">pages</a> <a href="#">ABOUT</a> <a href="#">CONTACT</a>
        </div>
        <!--END/ #footer-nav-->

        <!--Add your copyright here-->
        <p>Copyright &copy; 2012 Your Company. All rights reserved.</p>

      </div>
      <!-- END/ #copyright-note -->


    </section><!-- END/ container -->
  </footer>
  <!-- END/ global footer -->



  <!-- START JS -->

    <!-- jQuery Javascript Library-->
    <script src="js/jquery.min.js"></script>

    <!--10 JQuery plugins -concatenated - see the documentation for more info -->
    <script src="js/essential.plugins.min.js"></script>

    <!-- Custom js for GearBox HTML template-->
    <script src="js/custom.js"></script>

  <!-- END/ JS -->

</body>
