-# details
#details_slide.scrollblock
  %a{:name => "details"}
  #details_slide_bg.slide-bg
  .scroll-content
    %h2.section The Details

    .detail
      %label Program starts on:
      %h3 June 5th, 2012

    .detail
      %label Weekly dinners:
      %h3
        Tuesday Evenings in downtown SF
        <span class="sep">- or -</span>
        Check in online.

    .detail
      %label Demo Day:
      %h3 Mid August

    .detail
      %label We Accept:
      %h3 Any startup team who can ship stuff.

    .detail
      %label Questions? Comments?
      %h3
        <a href="mailto:contact@nreduce.com">Email</a> us
        or check the <a href="#faq">FAQ</a>.
    :erb
      <blockquote class="twitter-tweet"><p>We're building an "open source ycombinator". Join us! <a href="http://t.co/qeaZQ1QZ" title="http://nreduce.com">nreduce.com</a></p>&mdash; nReduce (@nReduce) <a href="https://twitter.com/nReduce/status/200688331477102594" data-datetime="2012-05-10T20:46:41+00:00">May 10, 2012</a></blockquote>
      <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
