.faq-page
  %h2.section Frequently Asked Questions

  .question
    :markdown
      ### What's the name mean?

      nReduce is short for η-reduction. This is a form of η-conversion that consists of dropping of abstraction over a function. Learn more <a href="http://ncatlab.org/nlab/show/eta-conversion">here</a>.

      It's fitting with our organization's main goals. We're trying to distill the best parts of our favorite startup program by removing the unnecessary pieces (the money and the barriers). What's left is the community of entrepreneurs working together to motivate and launch.


  -#
  .question
    :markdown
      ### How do I apply to nReduce?

      Just [sign up](./signup.html) as a startup. We'll get in touch. We accept everyone who has an active product development team. No team of just biz guys though. You need a developer/designer to start. We're here to ship products and validate them at the market. We aren't here to find you a developer or recruit for you.
  -#
  -#
  .question
    :markdown
      ### When does it Start?

      The first nReduce batch starts June 4th and goes for 3 months.
  -#
  -#
  .question
    :markdown
      ### How does it work?

      After you join a batch, on the start of the program we get all the startups introduced to each other. There's an informal secrecy to the group, so feel free to speak your minds. You'll be better off if people know what you're working on so they can try your product, and help if there's any challenges.

      We do weekly dinners (virtual and physical) every tuesday. In SF we'll have pizza and beer, and go till late. You should come ready to demo what you've built, and give feedback on what other people are building.

      For the most part we'll follow the basic YC program to the best our resources will allow. The second dinner will be prototype day so you'll be expected to put something together of what you're building and give a quick presentation to the batch.

      At the end of the cycle there will be a demo day where we'll bring together some world class investors to hear your best 2min pitch. We'll also promote these demo day videos to the press.
  -#
  -#
  .question
    :markdown
      ### Do you invest money?

      Nope. We have no money. We are just a community of startups banding together to provide an alternative to the support group that makes YC unstoppable.

  -#
  -#
  .question
    :markdown
      ### Do you take any equity in my startup?

      Absolutely not.
  -#
  -#
  .question
    :markdown
      ### What's expected of an nReduce company?

      nReduce is easy to get into. But hard to finish. There's no gatekeepers, but there are bouncers. If you aren't making significant progress on your startup and actively trying to ship something every week, you won't make it through the program.

      Our goal is to provide the motivation to get stuff done every week. You can pivot, change business models, reevaluate. But you have to ship. If we don't hear from you during a dinner or you miss a week, you get marked with "did not ship" (only other teams will see this). 2 weeks in a row on DNS, then you are booted from the batch and won't be included in demo day.

      That's ok, you can always join in next batch. But during the batch, there's no messing around. You are here to ship and build traction.
  -#
  .question
    :markdown
      ### Is membership confidential?

      Yes. We won't disclose our members or companies. Each member can choose to disclose themselves to the public during demo day, or they can do their demos in private to qualified investors. It's up to each individual company to decide whether or not they want to say they are associated with nReduce.

  -#
  -#
  .question
    :markdown
      ### I'm not in US. Can I join?

      YES! You can check in every week online. We'd even love it if you helped bring nReduce to your city/country. We'll provide whatever support we can to help you do this. Our goal is more startups around the world.

  -#
  -#
  .question
    :markdown
      ### I have a funded, mature startup. Can I join?

      YES! If you want to bring your startup back to the early days of weekly product updates and fast progress, join nReduce! We'd love to have you, but no special rules. We know it's harder for a big team to iterate like a young startup, so you'll have to find a way to do it. But the advantages will be enormous to your business.
  -#
  -#
  .question
    :markdown
      ### I own a consulting company. Can I join?

      Yes, but not your whole team. Take 2-3 of your most awesome devs and put them on a startup for the duration of the period. Fund them to build an amazing business and you'll see much better returns than any consulting project you could take.

  -#
  -#
  -#
  .question
    :markdown
      ### Who are you guys?

      We're just a group of startup people with a common cause. This program is not about any specific individual. It's about the idea of banding a group of brilliant, ambitious, and passionate people together to succeed.

  -#
  -#
  .question
    :markdown
      ### Do you guys make money?

      Nope, we're completely non-profit. We're looking for sponsors for hosting, meetup space, and food. But that's it.

  -#
  -#
  .question
    :markdown
      ### Are you a cargo cult?

      Maybe. Our test will be on demo day. Can we produce startups that rival the best in the YC batch? <a href="#signup"><strong>Sign up as a spectator</strong></a> and see for yourself!

  -#
  -#
  -# .question
  -#   :markdown
  -#     ### Are you just a bunch of YC rejects?
  -#
  -#     No, not really. Most of our companies haven't even applied to YC. They either didn't want to give up the 7% or didn't fit the criteria of a YC startup. We even welcome YC alumni who have already gone through the cycle and want to bring back the energy of YC.
  -#
  -#
