<% @body_id = "portfolio" %>

<!-- intro text -->
<p class="title-format-3 f-20 no-link-color">GearBox has two different gallery styles and this is the style 2 and you can find the other Gallery style <a class="skin-text" href="gallery-three-col.html">here</a>. This gallery is filterable. Now showing... </p>


<!-- START filtering handle - NOTE : The documentation contains more info about galleries -->
<div class=" title-format-3 m-b-4">
  <!--START .sub-menu -->
  <ul class="sub-menu">
    <li class="current"><a  data-filter = "none" class="tooltip" title="Show all items">All</a></li>
    <li><a data-filter = "design" class="tooltip" title="Show design items">design</a></li>
    <li><a data-filter = "development" class="tooltip" title="Show development items">Development</a></li>
  </ul>
  <!--END/ .sub-menu -->
</div>
<!-- filtering handle -->


<!-- START #gallery .row-->
<section id = "gallery" class="row gallery-style-2 ss-float portrait-3-col ss-2-col m-b">

  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio3.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 design item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio2.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio4.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 design item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio1.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->


  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio4.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio3.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 design item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio2.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 development item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

  <!--START GRID COLUMN-->
  <div class="c-4-12 design item">

    <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
      <img alt="" src="images/sample-content/portfolio1.png">
    </a>

  </div>
  <!--END/ GRID COLUMN-->

</section>
<!--END/ #gallery .row-->


<!-- START next/prev links  -->
<div class="m-t-4 divider-top">
  <a class="skin-text bold m-r divider-right" href="#">&larr; Previous </a>  <a href="#" class="skin-text bold ">Next  &rarr;</a>
</div>
<!-- END/ next/prev links -->
