  <body id ="portfolio">

  <!--START Main header -->
  <header>

    <!--START #top-bar .container -->
    <aside id = "top-bar" class = "hidden container">
      <!--START .content -->
      <div class="content">
        <!--START .row -->
        <div class="row gutter-width-2">

          <!-- START GRID COLUMN-->
          <section class="c-6-12">

            <!-- START .about-us widget-->
            <div class="g widget">
              <h3 class="title ">Feel free to add any content you want inside this box</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>
              <input class="search animate" placeholder = "Type and hit enter" >
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Links list</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Explorer more</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

        </div>
        <!--END/ .row -->
      </div>
      <!--END/ .content -->
    </aside>
    <!--END/  #top-bar .hidden .container-->


    <!--START .container-->
    <div class = "container" >

      <!--#top-bar toggle button for small screens (visible on small screens) -->
      <div id = "ss-top" class="ss-only" ><span class="skin right" data-toggle ="#top-bar"><a href="#">+</a> </span></div>

      <!--START #header-logo -->
      <div id="header-logo">
        <a href="./">
          <img src="images/sample-content/logo.png" alt="GearBox HTML"/>
        </a>
      </div>
      <!--END/ #header-logo -->

      <!--START #navigation -->
      <nav id="navigation">
        <ul>

          <!--START menu item -->
          <li>
            <a href="./">Home</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li class ="current">
            <a href="#">Pages</a>

            <!--START dropdown level one -->
            <ul>

              <li><a href="#">Home suggestions</a>
                <ul>
                  <li><a href="home-suggestion-2.html">Home suggestion 2</a></li>
                  <li><a href="home-suggestion-3.html">Home suggestion 3</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li><a href="#">More pages</a>
                <ul>
                  <li><a href="layout-nav+content+sidebar.html">nav + content + sidebar</a></li>
                  <li><a href="portfolio-single.html">Portfolio single</a></li>
                  <li><a href="faq-page.html">FAQ page</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li class ="current"><a href="#">Galleries</a>
                <ul>
                  <li><a href="gallery-two-col.html">gallery two col</a></li>
                  <li><a href="gallery-three-col.html">gallery three col</a></li>
                  <li class ="current"><a href="gallery-four-col.html">gallery four col</a></li>
                  <li><a href="gallery-four-col-style-1.html">gallery four col (style 1)</a></li>
                  <li><a href="gallery-three-col-style-2.html">gallery three col (style 2)</a></li>
                </ul>
              </li>

              <li><a href="blog-posts.html">Blog posts</a></li>

              <li><a href="single-blog-post.html">Blog single post </a></li>

              <li><a href="contact-page.php">Contact page</a></li>

              <li><a href="demo-pricing-tables.html">Pricing tables</a></li>

              <li><a href="404-not-found.html">404 Not found</a></li>

              <li><a href="#">A Lot more to come...</a></li>

            </ul>
            <!--END/ dropdown level one -->

          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="demo-typography.html">Typography</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="demo-grid.html">Grid</a>
          </li>
          <!--END/ menu item -->

          <!--START #top-bar toggle button-->
          <li data-toggle ="#top-bar" class="skin">
            <a href="#top-bar">+</a>
          </li>
          <!--END/ #top-bar toggle button -->

        </ul>
      </nav>
      <!--END/ #navigation-->

    </div>
    <!--END/ .container -->


    <!--START .container-->
    <section class = "container">

      <!--START #page-header-->
      <div id ="page-header">

        <!-- START page title Note : you can also use h1 , h2 etc. -  make sure you add .title and .sub -->
        <h2 class=" title">Gallery</h2>
        <span class="sub">Comes in two styles</span>
        <!-- END/ page title -->

      </div>
      <!--END/ #page-header-->

    </section>
    <!--END/ .container -->


  </header>
  <!--END/ Main header -->


  <!--START #page -->
  <div id="page">

    <!-- START noscript alert -->
    <noscript>
      <div  class="alert">
        <h5 class="title">Javascript is disabled in your browser :( </h5>
        Javascript is required to work this site properly.
      </div>
    </noscript>
    <!-- END/ noscript alert -->

    <!-- intro text -->
    <p class="title-format-3 f-20 no-link-color">GearBox has two different gallery styles and this is the style 2 and you can find the other Gallery style <a class="skin-text" href="gallery-four-col-style-1.html">here</a>. This gallery is filterable. Now showing... </p>


    <!-- START filtering handle - NOTE : The documentation contains more info about galleries -->
    <div class=" title-format-3 m-b-4">
      <!--START .sub-menu -->
      <ul class="sub-menu">
        <li class="current"><a  data-filter = "none" class="tooltip" title="Show all items">All</a></li>
        <li><a data-filter = "design" class="tooltip" title="Show design items">design</a></li>
        <li><a data-filter = "development" class="tooltip" title="Show development items">Development</a></li>
      </ul>
      <!--END/ .sub-menu -->
    </div>
    <!-- filtering handle -->


    <!-- START #gallery .row-->
    <section id = "gallery" class="row gallery-style-2 ss-float portrait-3-col ss-2-col m-b">

      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio3.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 design item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio2.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio4.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 design item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio1.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->


      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio4.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio3.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 design item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio2.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 development item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

      <!--START GRID COLUMN-->
      <div class="c-3-12 design item">

        <a href="portfolio-single.html" class="g image " data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want  ">
          <img alt="" src="images/sample-content/portfolio1.png">
        </a>

      </div>
      <!--END/ GRID COLUMN-->

    </section>
    <!--END/ #gallery .row-->


    <!-- START next/prev links  -->
    <div class="m-t-4 divider-top">
      <a class="skin-text bold m-r divider-right" href="#">&larr; Previous </a>  <a href="#" class="skin-text bold ">Next  &rarr;</a>
    </div>
    <!-- END/ next/prev links -->


  </div>
  <!-- END/ #page -->


  <!-- START global footer -->
  <footer>
    <section class = "container" >

      <!-- START .row-->
      <div class ="row gutter-width-2">

        <!-- START GRID COLUMN-->
        <section class ="c-5-16">
          <!-- START .about-us widget-->
          <div class ="g about-us widget">

            <h3 class="title ">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>

            <section>
              <h4 class="title">Stay connected..</h4>

              <!-- START .social-connect-->
              <ul class="social-connect">
                <li><a href="#" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
                <li><a href="#" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li>
              </ul>
              <!-- END/ .social-connect-->

            </section>

          </div>
          <!-- END/ .about-us widget-->
        </section>
        <!-- END/ GRID COLUMN-->

        <!-- START GRID COLUMN-->
        <aside class ="c-6-16">
          <!-- START .about-us widget-->
          <div class ="g twitter widget">

            <h3 class="title">Latest tweets</h3>
            <div id = "twits">
              Loading...
            </div>

          </div>
          <!-- END/ .about-us widget-->
        </aside>
        <!-- END/ GRID COLUMN-->

        <aside class="c-5-16">
          <!-- START .flickr widget-->
          <div class="g flickr widget animate-all">

            <p class="title-format-3 gray-text f-13 m-0 ">talk to a real person</p>
            <p class=" f-20 fontart-3 fontface-2 divider-bottom m-b-1">Call us 123-456-7890</p>

            <h3 class="title"> newsletter</h3>
            <p>Join our newsletter to get weekly updates on our nerw theme releases and theme updates</p>

            <form>
              <input placeholder="Enter your Email"> <button class="skin button">Sign up </button>
            </form>

          </div>
          <!-- END/ .flickr widget-->
        </aside>


      </div>
      <!-- END/ .row -->

      <!-- START #copyright-note-->
      <div class ="row" id ="copyright-note">

        <!--START #footer-nav-->
        <div  id ="footer-nav" class="semi-left uppercase">
          <a href="./">Home</a> <a href="#">pages</a> <a href="#">ABOUT</a> <a href="#">CONTACT</a>
        </div>
        <!--END/ #footer-nav-->

        <!--Add your copyright here-->
        <p>Copyright &copy; 2012 Your Company. All rights reserved.</p>

      </div>
      <!-- END/ #copyright-note -->


    </section><!-- END/ container -->
  </footer>
  <!-- END/ global footer -->



  <!-- START JS -->

    <!-- jQuery Javascript Library-->
    <script src="js/jquery.min.js"></script>

    <!--10 JQuery plugins -concatenated - see the documentation for more info -->
    <script src="js/essential.plugins.min.js"></script>

    <!-- Custom js for GearBox HTML template-->
    <script src="js/custom.js"></script>

  <!-- END/ JS -->

</body>
