<body id ="home">

  <!--START Main header -->
  <header>

    <!--START #top-bar .container -->
    <aside id = "top-bar" class = "hidden container">
      <!--START .content -->
      <div class="content">
        <!--START .row -->
        <div class="row gutter-width-2">

          <!-- START GRID COLUMN-->
          <section class="c-6-12">

            <!-- START .about-us widget-->
            <div class="g widget">
              <h3 class="title ">Feel free to add any content you want inside this box</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>
              <input class="search animate" placeholder = "Type and hit enter" >
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Links list</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <section class="c-3-12">

            <!-- START .about-us widget-->
            <div class="g widget ">
              <h3 class="title ">Explorer more</h3>
              <ul class="list no-link-color">
                <li><a href="#">List item</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Vivamus condimentum</a></li>
                <li><a href="#">Mauris diam</a></li>
              </ul>
            </div>
            <!-- END/ .about-us widget-->

          </section>
          <!-- END/ GRID COLUMN-->

        </div>
        <!--END/ .row -->
      </div>
      <!--END/ .content -->
    </aside>
    <!--END/  #top-bar .hidden .container-->


    <!--START .container-->
    <div class = "container" >

      <!--#top-bar toggle button for small screens (visible on small screens) -->
      <div id = "ss-top" class="ss-only" ><span class="skin right" data-toggle ="#top-bar"><a href="#">+</a> </span></div>

      <!--START #header-logo -->
      <div id="header-logo">
        <a href="./">
          <img src="images/sample-content/logo.png" alt="GearBox HTML"/>
        </a>
      </div>
      <!--END/ #header-logo -->

      <!--START #navigation -->
      <nav id="navigation">
        <ul>

          <!--START menu item -->
          <li>
            <a href="./">Home</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li class="current">
            <a href="#">Pages</a>

            <!--START dropdown level one -->
            <ul>

              <li class="current"><a href="#">Home suggestions</a>
                <ul>
                  <li class="current"><a href="home-suggestion-2.html">Home suggestion 2</a></li>
                  <li><a href="home-suggestion-3.html">Home suggestion 3</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li><a href="#">More pages</a>
                <ul>
                  <li><a href="layout-nav+content+sidebar.html">nav + content + sidebar</a></li>
                  <li><a href="portfolio-single.html">Portfolio single</a></li>
                  <li><a href="faq-page.html">FAQ page</a></li>
                  <li><a href="#">More to come..</a></li>
                </ul>
              </li>

              <li><a href="#">Galleries</a>
                <ul>
                  <li><a href="gallery-two-col.html">gallery two col</a></li>
                  <li><a href="gallery-three-col.html">gallery three col</a></li>
                  <li><a href="gallery-four-col.html">gallery four col</a></li>
                  <li><a href="gallery-four-col-style-1.html">gallery four col (style 1)</a></li>
                  <li><a href="gallery-three-col-style-2.html">gallery three col (style 2)</a></li>
                </ul>
              </li>

              <li><a href="blog-posts.html">Blog posts</a></li>

              <li><a href="single-blog-post.html">Blog single post </a></li>

              <li><a href="contact-page.php">Contact page</a></li>

              <li><a href="demo-pricing-tables.html">Pricing tables</a></li>

              <li><a href="404-not-found.html">404 Not found</a></li>

              <li><a href="#">A Lot more to come...</a></li>

            </ul>
            <!--END/ dropdown level one -->

          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="demo-typography.html">Typography</a>
          </li>
          <!--END/ menu item -->

          <!--START menu item -->
          <li>
            <a href="demo-grid.html">Grid</a>
          </li>
          <!--END/ menu item -->

          <!--START #top-bar toggle button-->
          <li data-toggle ="#top-bar" class="skin">
            <a href="#top-bar">+</a>
          </li>
          <!--END/ #top-bar toggle button -->

        </ul>
      </nav>
      <!--END/ #navigation-->

    </div>
    <!--END/ .container -->


    <!--START .container-->
    <section class = "container">

      <!--START #page-header-->
      <div id ="page-header">

        <!--Intro text-->
        <h1 class="title-format-3 f-20">We are a group of talented web designers and developers, based in  <a href="#">San Fransisco ,  CA.</a> Aenean dapibus interdu  , ut iaculis urna. Quisque sit amet velit vel ante gravida consequat. </h1>

        <!--START .social-connect-->
        <ul class="social-connect">
          <li><a href="#" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
          <li><a href="#" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
          <li><a href="#" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
          <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li>
          <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li>
        </ul>
        <!--END/ .social-connect-->

      </div>
      <!--END/ #page-header-->

    </section>
    <!--END/ .container -->


  </header>
  <!--END/ Main header -->


  <!--START #page -->
  <div id="page">

    <!-- START noscript alert -->
    <noscript>
      <div  class="alert">
        <h5 class="title">Javascript is disabled in your browser :( </h5>
        Javascript is required to work this site properly.
      </div>
    </noscript>
    <!-- END/ noscript alert -->


    <!-- START secton - our works-->
    <section>

      <!-- Section title-->
      <h1 class="section-title m-t-0">Recent works   <!--Underline - hover effect--><span class="line-effect"></span></h1>


      <!-- START .row gallery-->
      <div class="row gallery-style-1  ss-float ss-2-col portrait-4-col">

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio3.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio2.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio4.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio2.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio3.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio3.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio1.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-2-12">

          <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
            <img alt="" src="images/sample-content/portfolio4.png">
          </a>

        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row  gallery-->

    </section>
    <!--END/ secton - our works--->



    <!-- START secton - why us-->
    <section>

      <!-- Section title-->
      <h1 class="section-title">Why this template ?   <!--Underline - hover effect--><span class="line-effect"></span></h1>

      <!--START .row-->
      <div class="row gutter-width-2 m-b-4 ss-no-margin no-link-color">

        <!--START GRID COLUMN-->
        <div class="c-6-12">
          <a href="#" class="g divider-left ss-no-border">

            <!--.circle-element-->
            <div class="small circle-element skin left"><img  src="images/sample-content/icons/Crop.png" alt="" ></div>

            <!--.content-->
            <div class="content p-l">
              <h2 class="hover-skin-text title-format-2 f-20 m-b-0">Responsive</h2>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum.</p>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-6-12">
          <a href="#" class="g divider-left">

            <!--.circle-element-->
            <div class="small circle-element skin left"><img  src="images/sample-content/icons/Checkmark.png" alt="" ></div>

            <!--.content-->
            <div class="content p-l">
              <h2 class="hover-skin-text title-format-2 f-20 m-b-0">Forever fresh</h2>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum.</p>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row-->
      <!--START .row-->
      <div class="row gutter-width-2 m-b-4  ss-no-margin no-link-color">

        <!--START GRID COLUMN-->
        <div class="c-6-12">
          <a href="#" class="g divider-left">

            <!--.circle-element-->
            <div class="small circle-element skin left"><img  src="images/sample-content/icons/Breifcase.png" alt="" ></div>

            <!--.content-->
            <div class="content p-l">
              <h2 class="hover-skin-text title-format-2 f-20 m-b-0">Powerful framework</h2>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum.</p>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-6-12">
          <a href="#" class="g divider-left">

            <!--.circle-element-->
            <div class="small circle-element skin left"><img  src="images/sample-content/icons/Calendar-Day-of-Week.png" alt="" ></div>

            <!--.content-->
            <div class="content p-l">
              <h2 class="hover-skin-text title-format-2 f-20 m-b-0">Updates with a care</h2>
              <p class="gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum.</p>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row-->

    </section>
    <!-- END/ secton - why us-->



    <!-- START secton - .posts-->
    <section class="posts">

      <!-- Section title-->
      <h1 class="section-title">Recent from the blog  <!--Underline - hover effect--><span class="line-effect"></span></h1>

      <!--START .row-->
      <div class="row gutter-width-1 preload-images">

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-24">12 hours ago</time> | <a href="single-blog-post.html#comments">2 comments</a></span>

            <a href="images/sample-content/portfolio4.png" class="image fancybox"><img src="images/sample-content/portfolio4.png" alt="" ></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here like this yep it's here</a></h2>
            <span class="post-info"><time datetime="2012-03-25" >1 day ago</time> | <a href="single-blog-post.html#comments">10 comments</a></span>

            <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-26" >2 days ago</time> | <a href="single-blog-post.html#comments">12 comments</a></span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="#">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-27" >3 days ago</time> | <a href="single-blog-post.html#comments">25 comments</a></span>

            <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row-->

    </section>
    <!-- END/ secton - .posts-->


  </div>
  <!-- END/ #page -->


  <!-- START - FOR DEMO ONLY FEEL FREE TO REMOVE THIS BLOCK - #sticky-sidebar -->
  <div id = "sticky-sidebar" class="p black shadow-3 rounded animate animate-all">
    <a id ="sticky-sidebar-toggle" class="bold black p-1 fontart-x1 rounded " href="#" data-toggle-parent-class = "opened" >skins</a>
    <h4 class="title-format-1 white-text fontart-2">Available <span class="skin-text fontart-7">skins</span></h4>
    <ul class="list ">
      <li><a data-skin = "applegreen" class="white-text hover-skin-text" href="#"><mark style="background:#92BB51;">.</mark> Apple green </a></li>
      <li><a data-skin = "orange" class="white-text hover-skin-text"  href="#"><mark style="background:#DE5906;">.</mark> Orange </a></li>
      <li><a data-skin = "cherry" class="white-text hover-skin-text"  href="#"><mark style="background:#C32710;">.</mark> Cherry </a></li>
      <li><a data-skin = "skyblue" class="white-text hover-skin-text"  href="#"><mark style="background:#409CC4;">.</mark> Sky Blue </a></li>
      <li><a data-skin = "gold" class="white-text hover-skin-text"  href="#"><mark style="background:#E5BC34;">.</mark> Gold </a></li>
      <li><a data-skin = "hotpink" class="white-text hover-skin-text"  href="#"><mark style="background:#EF5DA6;">.</mark> Hot Pink </a></li>
      <li><a data-skin = "coolgray" class="white-text hover-skin-text"  href="#"><mark style="background:#434C5B;">.</mark> Cool gray </a></li>
      <li><a data-skin = "royalblue" class="white-text hover-skin-text"  href="#"><mark style="background:#2D6189;">.</mark> Royal blue</a></li>

    </ul>
    <mark class="bold black">demention <br> FRAMEWORK</mark>
  </div>
  <!-- END - FOR DEMO ONLY FEEL FREE TO REMOVE THE ABOVE BLOCK - #sticky-sidebar -->



  <!-- START global footer -->
  <footer>
    <section class = "container" >

      <!-- START .row-->
      <div class ="row gutter-width-2">

        <!-- START GRID COLUMN-->
        <section class ="c-5-16">
          <!-- START .about-us widget-->
          <div class ="g about-us widget">

            <h3 class="title ">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>

            <section>
              <h4 class="title">Stay connected..</h4>

              <!-- START .social-connect-->
              <ul class="social-connect">
                <li><a href="#" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
                <li><a href="#" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li>
                <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li>
              </ul>
              <!-- END/ .social-connect-->

            </section>

          </div>
          <!-- END/ .about-us widget-->
        </section>
        <!-- END/ GRID COLUMN-->

        <!-- START GRID COLUMN-->
        <aside class ="c-6-16">
          <!-- START .about-us widget-->
          <div class ="g twitter widget">

            <h3 class="title">Latest tweets</h3>
            <div id = "twits">
              Loading...
            </div>

          </div>
          <!-- END/ .about-us widget-->
        </aside>
        <!-- END/ GRID COLUMN-->

        <aside class="c-5-16">
          <!-- START .flickr widget-->
          <div class="g flickr widget animate-all">

            <p class="title-format-3 gray-text f-13 m-0 ">talk to a real person</p>
            <p class=" f-20 fontart-3 fontface-2 divider-bottom m-b-1">Call us 123-456-7890</p>

            <h3 class="title"> newsletter</h3>
            <p>Join our newsletter to get weekly updates on our nerw theme releases and theme updates</p>

            <form>
              <input placeholder="Enter your Email"> <button class="skin button">Sign up </button>
            </form>

          </div>
          <!-- END/ .flickr widget-->
        </aside>


      </div>
      <!-- END/ .row -->

      <!-- START #copyright-note-->
      <div class ="row" id ="copyright-note">

        <!--START #footer-nav-->
        <div  id ="footer-nav" class="semi-left uppercase">
          <a href="./">Home</a> <a href="#">pages</a> <a href="#">ABOUT</a> <a href="#">CONTACT</a>
        </div>
        <!--END/ #footer-nav-->

        <!--Add your copyright here-->
        <p>Copyright &copy; 2012 Your Company. All rights reserved.</p>

      </div>
      <!-- END/ #copyright-note -->


    </section><!-- END/ container -->
  </footer>
  <!-- END/ global footer -->



  <!-- START JS -->

    <!-- jQuery Javascript Library-->
    <script src="js/jquery.min.js"></script>

    <!--10 JQuery plugins -concatenated - see the documentation for more info -->
    <script src="js/essential.plugins.min.js"></script>

    <!-- Custom js for GearBox HTML template-->
    <script src="js/custom.js"></script>

  <!-- END/ JS -->

</body>
