- @page_class = "sun-bg"
.landing-page.page-bg
  .row
    .span10.hero-unit
      .intro
        %h1
          YC reimagined,
          %br
          a new alliance of hackers.

        %h2
          nReduce is a virtual incubator. It's open, collaborative, and global.
          %br
          First batch starts on <strong>June 5th</strong>

      .primary-action
        %a.btn.btn-large.btn-success{:href => "./signup.html"} Sign Up Now

      .row.landing-banner
        .span5{:style=>'text-align:right;padding-top:5px'}
          %a{:href => "./intro.html", :target => "_blank"}
            %img{:src => "./img/landing/ninja_team.png", :alt => "Ninja Team"}
            %br
            See the Intro

        .span5{:style=>'text-align: left'}
          %h2 300+ Startups Registered
          %ul
            %li Any team in the world can join.
            %li Join and execute on your idea for 12 weeks.
            %li Free for Startups and does not take equity.
            %li Matches great startups to great investors.

  .row{:style=>'text-align: center'}
    .span4{:style=>'text-align: center'}
      %h2 Mentors
      %p Help teams and share your expertise.
      / %a.btn.btn-large{:href => "http://s12.nreduce.com/mentors/new"} Join Now
      %a.btn.btn-large{:href => "mailto:mentors@nreduce.com?subject=I'd like to help mentor nReduce teams"} Join Now

    .span4{:style=>'text-align: center'}
      %h2 Investors
      %p Get access to the nReduce demo day.
      / %a.btn.btn-large{:href => "http://s12.nreduce.com/investors/new"} Join Now
      %a.btn.btn-large{:href => "mailto:investors@nreduce.com?subject=I'd like access to nReduce Demo Day"} Join Now

    .span4{:style=>'text-align: center'}
      %h2 Sponsors
      %p Support amazing teams.
      %a.btn.btn-large{:href => "/sponsor.html"} View Options

