<% @body_id = "home" %>

    <!-- START .slider-holder   - section - #primary-slider -->
    <section id ="primary-slider" class ="slider-holder">
      <!-- START .slider -->
      <div class="slider">

        <!-- START .slides -->
        <ul class="slides">

          <!-- START slide -->
          <li>
            <a class="image" href="#" data-image-caption = "Here goes the content you want <span class='title skin-text'>Hey this is awesome... </span>">
              <img src="images/sample-content/slider.png" alt=""/>
            </a>
          </li>
          <!-- END/ slide -->

          <!-- START slide -->
          <li>
            <a class="image"  href="#" data-image-caption = "<span class='title skin-text'>Hey this is awesome... </span> You can add any HTML element ">
              <img src="images/sample-content/slide4.png" alt=""/>
            </a>
          </li>
          <!-- END/ slide -->

          <!-- START slide -->
          <li>
            <a class="image"  href="#">
              <img src="images/sample-content/slide3.png" alt=""/>
            </a>
          </li>
          <!-- END/ slide -->

          <!-- START slide -->
          <li>
            <a class="image"  href="#">
              <img src="images/sample-content/slide2.png" alt=""/>
            </a>
          </li>
          <!-- END/ slide -->

        </ul>
        <!-- END / .slides -->

      </div>
      <!-- END / .slider -->
    </section>
    <!-- END / .slider-holder  - section - #primary-slider-->



    <!-- START secton - why us-->
    <section>

      <!-- Section title-->
      <h1 class="section-title">Why this template ?   <!--Underline - hover effect--><span class="line-effect"></span></h1>

      <!--START .row-->
      <div class="row gutter-width-1 m-b-4">

        <!--START GRID COLUMN-->
        <div class="c-4-12">
          <a href="#" class="g divider-right">

            <!--.circle-element-->
            <div class="circle-element skin left"><img  src="images/sample-content/icons/Breifcase.png" alt="" ></div>

            <!--.content-->
            <div class="content p-1">
              <h2 class="hover-skin-text title-format-2 f-20">Responsive</h2>
              <span class="sub-title f-13">Adaptable to any Screen size</span>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-4-12">
          <a href="#" class="g divider-right">

            <!--.circle-element-->
            <div class="circle-element skin left"><img  src="images/sample-content/icons/Airplane.png" alt="" ></div>

            <!--.content-->
            <div class="content p-1">
              <h2 class="hover-skin-text title-format-2  f-20">Modern</h2>
              <span class="sub-title f-13">Modern Web standards</span>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-4-12">
          <a href="#" class="g ">

            <!--.circle-element-->
            <div class="circle-element skin left"><img src="images/sample-content/icons/Tools.png" alt="" ></div>

            <!--.content-->
            <div class="content p-1">
              <h2 class="hover-skin-text  title-format-2 f-20">Highly customizable</h2>
              <span class="sub-title f-13">Powerful framework</span>
            </div>
            <!--END/ .content-->

          </a>
        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row-->
    </section>
    <!-- END/ secton - why us-->


    <!-- START secton - Testimonial and Recent Projects-->
    <section>

      <!-- Section title-->
      <h1 class="section-title">Recent Projects and Testimonials <!--Underline - hover effect--><span class="line-effect"></span></h1>

      <!-- START .row-->
      <div class="row gutter-width-1 portrait-2-col">

        <!-- START GRID COLUMN - contains the portfolio gallery-->
        <div class="c-8-12">
          <div class="g box divider-right">

            <!-- START .row .gallery-->
            <div class="row gallery-style-2  ss-float ss-2-col portrait-2-col">

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio3.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio2.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio4.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio1.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

              <!--START GRID COLUMN-->
              <div class="c-4-12">

                <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
                  <img alt="" src="images/sample-content/portfolio2.png">
                </a>

              </div>
              <!--END/ GRID COLUMN-->

            </div>
            <!--END/ .row  .gallery-->

            <a class="bold right f-12 m-t" href="gallery-four-col.html">View portfolio &rarr;</a>

          </div>
        </div>
        <!-- END/ GRID COLUMN -  contains the portfolio gallery-->

        <!-- START GRID COLUMN -  contains Testimonials-->
        <div class="c-4-12">
          <div class="g">

            <blockquote class="divider-bottom m-b">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus   quam ac luctus rutrum, nulla mi congue orci.</p>
              <cite>&ndash;&nbsp; Steve Jobs  </cite>
            </blockquote>

            <blockquote class="divider-bottom m-b">
              <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo.</p>
              <cite>&ndash;&nbsp; demention Inc.  </cite>
            </blockquote>

            <blockquote>
              <p>Duis id turpis mauris, tempus lacinia est. Ut malesuada fermentum vulputate. Nulla facilisi.</p>
              <cite>&ndash;&nbsp; John Doe  </cite>
            </blockquote>

          </div>
        </div>
        <!-- END/ GRID COLUMN -  contains Testimonials-->

      </div>
      <!-- END/ .row-->

    </section>
    <!-- END/ secton - Testimonial and Recent Projects-->



    <!-- START secton - .posts-->
    <section class="posts">

      <!-- Section title-->
      <h1 class="section-title">Recent from the blog  <!--Underline - hover effect--><span class="line-effect"></span></h1>

      <!--START .row-->
      <div class="row gutter-width-1 preload-images">

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-24">12 hours ago</time> | <a href="single-blog-post.html#comments">2 comments</a></span>

            <a href="images/sample-content/portfolio4.png" class="image fancybox"><img src="images/sample-content/portfolio4.png" alt="" ></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here like this yep it's here</a></h2>
            <span class="post-info"><time datetime="2012-03-25" >1 day ago</time> | <a href="single-blog-post.html#comments">10 comments</a></span>

            <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-26" >2 days ago</time> | <a href="single-blog-post.html#comments">12 comments</a></span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

        <!--START GRID COLUMN-->
        <div class="c-3-12">
          <!--START .post .excerpt-->
          <div class="g post excerpt">

            <h2 class="title"><a href="#">Title goes here</a></h2>
            <span class="post-info"><time datetime="2012-03-27" >3 days ago</time> | <a href="single-blog-post.html#comments">25 comments</a></span>

            <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

            <!--.read-more link-->
            <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
          </div>
          <!--END/ .post .excerpt-->
        </div>
        <!--END/ GRID COLUMN-->

      </div>
      <!--END/ .row-->

    </section>
    <!-- END/ secton - .posts-->
