.landing-page
  .span12.hero-unit{:style=>'text-align: center'}
    %h1 The First International
    %h1 Startup Incubator
    %br
    %br
    %h3 Our first class starts in 
    %h1 5d 20h 20m
    %br
    %br
    %br
    %hr
    .row
      .span4{:style=>'text-align: center'}
        %br
        %img{:src => "/img/landing/ninja_team.png", :alt => "Ninja Team"}
      .span4{:style=>'text-align: left'}
        %h2 250 Startups Committed
        %ul
        %li Any team in the world can join.
        %li Join and execute on your idea for 12 weeks.
        %li Free for Startups and does not take equity.
        %li Great startups get discovered
      .span2{:style=>'text-align: right'}
        %br
        %br
        %br
        %a.btn.btn-large.btn-success{:href => "http://s12.nreduce.com/startups/new"}Sign Up Now
  .row{:style=>'text-align: center'}
    .span4{:style=>'text-align: center'}
      %h2 Mentors
      %p Help teams and share your expertise.
      %a.btn.btn-large{:href => "http://s12.nreduce.com/mentors/new"}Join Now
    .span4{:style=>'text-align: center'}
      %h2 Investors
      %p Get access to the nReduce demo day.
      %a.btn.btn-large{:href => "http://s12.nreduce.com/investors/new"}Join Now
    .span4{:style=>'text-align: center'}
      %h2 Sponsors
      %p Support amazing teams.
      %a.btn.btn-large{:href => "/sponsor.html"}View Options

