<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <!--charset-->
    <meta charset="UTF-8">

    <!--Add your page title -->
    <title>NCombinator → a new kind of incumbator</title>

    <!--Add meta description and Auther -->
    <meta name="description" content ="">
    <meta name="author" content ="">

    <!--favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!--iOS/android/handheld specific -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--The Main CSS file -->
    <link rel="stylesheet" href="css/base.css">

    <!--Fonts we are using @font-face **See the Documentation for more options  -->
    <link  id ="font" rel="stylesheet" href="css/fonts/google-droidsans-droidserif-georgia.css">

    <!--And then the skin **Refer to the Documentation for more options-->
    <link  id ="skin" rel="stylesheet" href="css/skins/skyblue.css">

    <!-- Modernizr - mainly used to detect html5/css3/etc. features supported by the current UA -->
    <script src="js/modernizr.min.js"></script>

    <!--[if lt IE 9 ]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

  </head>

  <body id ="<%= @body_id %>" <% "onload=\"#{@body_onload}\"" if @body_onload %>

    <%= render "partials/_header.html.erb" %>

    <!--START #page -->
    <div id="page">

      <!-- START noscript alert -->
      <noscript>
        <div  class="alert">
          <h5 class="title">Javascript is disabled in your browser :( </h5>
          Javascript is required to work this site properly.
        </div>
      </noscript>
      <!-- END/ noscript alert -->


      <%= yield %>

    </div>
    <!-- END/ #page -->


    <!-- START global footer -->
    <footer>
      <section class = "container" >

        <!-- START .row-->
        <div class ="row gutter-width-2">

          <!-- START GRID COLUMN-->
          <section class ="c-5-16">
            <!-- START .about-us widget-->
            <div class ="g about-us widget">

              <h3 class="title ">About us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, <a href="#"> demention </a> nulla mi congue orci ivamus condimentum.</p>

              <section>
                <h4 class="title">Stay connected..</h4>

                <!-- START .social-connect-->
                <ul class="social-connect">
                  <li><a href="#" data-tooltip ="Like us on facebook"><img src ="images/content/social-icons/facebook.png" alt="facebook"/></a></li>
                  <li><a href="#" data-tooltip ="Subscribe to RSS feed"><img src ="images/content/social-icons/rss.png" alt="RSS"/></a></li>
                  <li><a href="#" data-tooltip ="Follow us on twitter"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
                  <li><a href="#" data-tooltip ="Follow us on Dribbble"><img src ="images/content/social-icons/dribbble.png" alt="dribbble"/></a></li>
                  <li><a href="#" data-tooltip ="Follow us on Flickr"><img src ="images/content/social-icons/Flickr.png" alt="Flickr"/></a></li>
                </ul>
                <!-- END/ .social-connect-->

              </section>

            </div>
            <!-- END/ .about-us widget-->
          </section>
          <!-- END/ GRID COLUMN-->

          <!-- START GRID COLUMN-->
          <aside class ="c-6-16">
            <!-- START .about-us widget-->
            <div class ="g twitter widget">

              <h3 class="title">Latest tweets</h3>
              <div id = "twits">
                Loading...
              </div>

            </div>
            <!-- END/ .about-us widget-->
          </aside>
          <!-- END/ GRID COLUMN-->

          <aside class="c-5-16">
            <!-- START .flickr widget-->
            <div class="g flickr widget animate-all">

              <p class="title-format-3 gray-text f-13 m-0 ">talk to a real person</p>
              <p class=" f-20 fontart-3 fontface-2 divider-bottom m-b-1">Call us 123-456-7890</p>

              <h3 class="title"> newsletter</h3>
              <p>Join our newsletter to get weekly updates on our nerw theme releases and theme updates</p>

              <form>
                <input placeholder="Enter your Email"> <button class="skin button">Sign up </button>
              </form>

            </div>
            <!-- END/ .flickr widget-->
          </aside>


        </div>
        <!-- END/ .row -->

        <!-- START #copyright-note-->
        <div class ="row" id ="copyright-note">

          <!--START #footer-nav-->
          <div  id ="footer-nav" class="semi-left uppercase">
            <a href="./">Home</a> <a href="#">pages</a> <a href="#">ABOUT</a> <a href="#">CONTACT</a>
          </div>
          <!--END/ #footer-nav-->

          <!--Add your copyright here-->
          <p>Copyright &copy; 2012 NCombinator. All rights reserved.</p>

        </div>
        <!-- END/ #copyright-note -->


      </section><!-- END/ container -->
    </footer>
    <!-- END/ global footer -->



    <!-- START JS -->

      <!-- jQuery Javascript Library-->
      <script src="js/jquery.min.js"></script>

      <!--10 JQuery plugins -concatenated - see the documentation for more info -->
      <script src="js/essential.plugins.min.js"></script>

      <!-- Custom js for GearBox HTML template-->
      <script src="js/custom.js"></script>

    <!-- END/ JS -->

  </body>

</html>