<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>ηReduce -> an alliance of hackers</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="./scrollorama/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="./css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="./css/application.css" type="text/css" media="screen" charset="utf-8">

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./img/apple-touch-icon-114x114.png">

</head>

<body class="presentation">
  <%= yield %>

  <script src="./js/jquery-1.7.1.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/jquery.example.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/jquery.parse.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/application.js" type="text/javascript" charset="utf-8"></script>
  <script src="./scrollorama/js/jquery.lettering-0.6.1.min.js"></script>
  <script src="./scrollorama/js/jquery.scrollorama.js"></script>

  <!-- Google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31585667-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>


</body>

</html>
