<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>nReduce -> an alliance of hackers</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="./scrollorama/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="./css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="./css/application.css" type="text/css" media="screen" charset="utf-8">

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./img/apple-touch-icon-114x114.png">

</head>

<body class="presentation">
  <%= yield %>

  <script src="./js/jquery-1.7.1.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/jquery.example.js" type="text/javascript" charset="utf-8"></script>
  <script src="./scrollorama/js/jquery.lettering-0.6.1.min.js"></script>
  <script src="./scrollorama/js/jquery.scrollorama.js"></script>
  <script src="./js/application.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/slides.js" type="text/javascript" charset="utf-8"></script>

  <%= render "_scripts.html.erb" %>


</body>

</html>
