<% @body_id = "add-a-page-specific-id" %>


<!-- START .row -->
<div class="row gutter-width-1 ">

  <!-- START GRID COLUMN  NOTE: this column stays between the nav and the sidebar-->
  <div class="c-8-16 push-4-16">
    <div class="g">

      <h2 class="title-format-1">First column in the Markup structure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat.</p>
      <p>Phasellus at dui turpis. Vestibulum vitae neque tortor. Quisque congue gravida metus, ac gravida neque mattis eu. Quisque nec mi eros. Cras vitae felis nec nunc congue pharetra. Donec at sapien eget tellus posuere dignissim sed vel metus. Curabitur tellus sapien, convallis commodo dapibus non, dignissim sed neque. Cras viverra faucibus lacinia. Fusce ultrices, purus eu tincidunt pharetra, risus lorem feugiat sapien, non dapibus sapien sapien vel lectus. Integer vitae orci vel mi porttitor volutpat.</p>
      <p>Phasellus at dui turpis. Vestibulum vitae neque tortor. Quisque congue gravida metus, ac gravida neque mattis eu. Quisque nec mi eros. Cras vitae felis nec nunc congue pharetra. Donec at sapien eget tellus posuere dignissim sed vel metus. Curabitur tellus sapien, convallis commodo dapibus non, dignissim sed neque. Cras viverra faucibus lacinia. Fusce ultrices, purus eu tincidunt pharetra, risus lorem feugiat sapien, non dapibus sapien sapien vel lectus. Integer vitae orci vel mi porttitor volutpat.</p>
      <p>Phasellus at dui turpis. Vestibulum vitae neque tortor. Quisque congue gravida metus, ac gravida neque mattis eu. Quisque nec mi eros. Cras vitae felis nec nunc congue pharetra. Donec at sapien eget tellus posuere dignissim sed vel metus. Curabitur tellus sapien, convallis commodo dapibus non, dignissim sed neque. Cras viverra faucibus lacinia. Fusce ultrices, purus eu tincidunt pharetra, risus lorem feugiat sapien, non dapibus sapien sapien vel lectus. Integer vitae orci vel mi porttitor volutpat.</p>

    </div>
  </div>
  <!-- END/ GRID COLUMN -content -->

  <!-- START GRID COLUMN - side nav -->
  <nav class="c-4-16 pull-8-16">

    <div class="g ss-border">
      <h2 class="title-format-1">Table of Contents</h2>

      <ul class="list m-r ">
        <li class="current"><a href="#">Getting started</a></li>
        <li ><a href="#">Structure</a></li>
        <li><a href="#">GearBox  CSS explained</a></li>
        <li><a href="#">Setup and Howto's</a>
          <ul>
            <li><a href="#">Change the skin</a></li>
            <li><a href="#">Setup sliders</a></li>
            <li><a href="#">Setup filterable Galleries</a></li>
            <li><a href="#">Setup Contact form</a></li>
            <li><a href="#">And many more...</a></li>
          </ul>
        </li>
        <li><a href="#">demention Grid</a></li>
        <li><a href="#">Premade CSS classes -  reference</a>
          <ul>
            <li><a href="#">General classes</a></li>
            <li><a href="#">demention Grid</a></li>
            <li><a href="#">Javascript driven</a></li>
          </ul>
        </li>

        <li><a href="#">About</a></li>
        <li><a href="#">Help and support</a></li>
      </ul>

    </div>

  </nav>
  <!-- END/ GRID COLUMN  - side nav  -->

  <!-- START GRID COLUMN - sidebar -->
  <aside class="sidebar c-4-16">
    <div class="g">

      <!--START .recent-posts .widget -->
      <section class ="recent-posts preload-images widget">

        <h3 class="title">Recent posts</h3>
        <ul>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb1.png" ></a>
            <div class="content">
              <a href="#">Kinda Long title goes like this you see it's pretty long</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb3.png"></a>
            <div class="content">
              <a href="#">This ain't a long title but I can make it like this</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb2.png"></a>
            <div class="content">
              <a href="#">Here goes the titlte</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

        </ul>

      </section>
      <!-- END / .recent-posts .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Keep browsing..</h3>
        <ul class="list">
          <li><a href="#">Skin and font changer</a></li>
          <li><a href="#">demention Grid</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Contact us </a></li>
        </ul>

      </section>
      <!-- END / .widget-->

    </div>
  </aside>
  <!-- END/ GRID COLUMN  - sidebar -->

</div>
<!-- END/ .row-->
