<% @body_id = "portfolio-single" %>

<!-- START .row -->
<div class="row gutter-width-1">

  <!-- START GRID COLUMN -->
  <div class="c-3-12">
    <div class="g">
      <h1 class="title-format-2">Project Name</h1>
      <p class="title-format-3 gray-text f-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est velit, scelerisque in pellentesque at,   porttitor rhoncus. In pulvinar viverra neque et accumsan. </p>
      <p><a href="#" class="yellow button uppercase fontart-x1"> View site</a>  </p>
    </div>
  </div>
  <!-- END / column -->

  <!-- START GRID COLUMN -->
  <div class="c-9-12">
    <div class="g">

      <div class ="slider-holder no-control-nav">
       <div class="slider">
         <ul class="slides">

          <!-- START slide -->
          <li>
            <img src="images/sample-content/slide3.png" alt=""/>
          </li>
          <!-- END/ slide -->

          <!-- START slide -->
          <li>
            <img src="images/sample-content/slide4.png" alt=""/>
          </li>
          <!-- END/ slide -->

         </ul>
       </div>
      </div>

    </div>
  </div>
  <!-- END / column -->

</div>
<!-- END /.row -->

<hr>

<!-- START .row -->
<div class="row gutter-width-1 m-b-4 m-t">

  <!-- START GRID COLUMN -->
  <div class="c-4-12">
    <div class="g">
      <h2 class="title-format-2">Our Involvements</h2>
      <ul class="check list">
        <li>List item</li>
        <li>Lorem ipsum</li>
        <li>Vivamus condimentum</li>
        <li>Mauris diam</li>
        <li>Aenean dapibus</li>
        <li>Pulvinar eros</li>
      </ul>
    </div>
  </div>
  <!-- END/ GRID COLUMN -->

  <!-- START GRID COLUMN -->
  <div class="c-4-12">
    <div class="g">
      <h2 class="title-format-2">Strategy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat.</p>

    </div>
  </div>
  <!-- END/ GRID COLUMN -->

  <!-- START GRID COLUMN -->
  <div class="c-4-12">
    <div class="g">
      <h2 class="title-format-2">Result</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat.</p>

    </div>
  </div>
  <!-- END/ GRID COLUMN -->

</div>
<!-- END /.row -->


<!-- START prev/next links  -->
<div class="m-t-4 box divider-top m-b-4">
  <a class="skin-text bold m-r divider-right" href="#">&larr; Previous </a>  <a href="#" class="skin-text bold ">Next  &rarr;</a> <a href="gallery-four-col.html" class="skin button right">Portfolio Gallery</a>
</div>
<!-- END/ prev/next links -->
