.signup-page

  %form#signup-box{:href => "/signup", :method => "POST"}
    %h2 Sign up for nReduce!
    %p
      Starts <strong>June 5th, 2012</strong>

    -# TODO: setup form fields and submit button

    .fields
      %input.example{:type => "text", :name => "email", :title => "Your Email"}
      %input.example{:type => "text", :name => "name", :title => "Your Name"}
    .pick
      %h3 I'm interested in being a:
      %ul
        %li
          %label.startup-type{"data-type" => "startup"}
            Startup

        %li
          %label.mentor-type{"data-type" => "mentor"}
            Mentor

        %li
          %label.spectator-type.on{"data-type" => "spectator"}
            Spectator

    .actions
      .success-msg We'll contact you soon to get things started. Thanks!
      .submit Join
