<% @body_id = "single-post" %>

<!-- START .row-->
<div class ="row gutter-width-3">

  <!--START GRID COLUMN -->
  <article class="c-8-12">
    <!--START .post -->
    <div class="g post">

      <!-- START post header -->
      <header>

        <!-- Post title -->
        <h1 class="title">Blog post title goes like this</h1>

        <!-- START post info -->
        <div class="post-info">
          Posted on <time datetime="2012-01-24" > January 24, 2012 </time>
          by <a  rel="author" href="#" > Your Name </a>
          with <a href="#comments">50 comments</a>
        </div>
        <!-- END/ post info -->

      </header>
      <!-- END/ post header -->


      <!-- START .post-content -->
      <div class ="post-content box mark-links">

        <!-- START .video-container -->
        <div class="video-container">
          <iframe width="629" height="350" src="http://www.youtube.com/embed/MGHwlExcaqU?rel=0&amp;hd=1"></iframe>
        </div>
        <!-- END .video-container -->

        <p>Lorem ipsum dolor sit amet, verenam conclusoque sponte profundo. Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam <mark>operibus furiam</mark> ne alicuius altum pervenit est amet amet Cur meae. </p>
        <p>Lorem ipsum dolor sit amet, verenam conclusoque sponte profundo. Conservus mihi esse haec aliquam inlido laetare quod eam ad per. Antiochia videns quia quod non ait est Apollonius non dum animae tertio eam ad te princeps ea docentur Hellenicus ut diem finito convocatis secessit civitatis civium takimata. Parem luctu gubernatori usque vero rex Dionysiadi me missam ne alicuius altum pervenit est amet amet Cur meae. </p>

      </div>
      <!-- END/ .post-content -->


      <!-- START post footer -->
      <footer>

        <!-- START social Share box-->
        <div class ="box m-t-6 m-b divider-bottom border-width-2">
          <!--title-->
          <h3 class="h1 gray-text title-format-3 semi-left p-t p-b p-r-3"> <span class="title-format-2 skin-text">Share</span> this post &rarr;</h3>

          <!-- START .social-connect -->
          <ul class="large social-connect">
            <li><a href="#" data-tooltip ="Share on Facebook"><img src ="images/content/social-icons/facebook.png" alt="Facebook"/></a></li>
            <li><a href="#" data-tooltip ="Digg it"><img src ="images/content/social-icons/digg.png" alt="Digg"/></a></li>
            <li><a href="#" data-tooltip ="Retweet it"><img src ="images/content/social-icons/twitter.png" alt="twitter"/></a></li>
            <li><a href="#" data-tooltip ="delicious"><img src ="images/content/social-icons/delicious.png" alt="delicious"/></a></li>
          </ul>
          <!-- END/ .social-connect -->

        </div>
        <!-- END/ social Share box  -->

      </footer>
      <!-- END / post footer -->


      <!--START #comments-->
      <section id="comments">

        <h2 class="title-format-3 m-b-4 m-t-4  gray-text h1" > <span class="fontart-x1 skin mark title-format-1 f-20">35</span> Comments to this post</h2>

        <ol>
          <li>

            <!--START .comment-->
            <article class="comment box">

              <footer>
                <span class=" name">Dude One</span>
                <time datetime="2012-01-24" > January 24, 2012 </time>
                <img class="avatar" src="images/sample-content/thumb1.png" alt="avatar" width="68" height="68"/>
              </footer>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat. </p>
              <a href="#" class="gray-text hover-skin-text bold left">+ Reply</a>

            </article>
            <!--END/ .comment-->

            <ul>
              <li>

                <!--START .comment.reply-->
                <article class="comment reply box ">

                  <footer>
                    <span class=" name">Dude Two</span>
                    <time datetime="2012-01-24" > January 24, 2012 </time>
                    <img class="avatar" src="images/sample-content/thumb2.png" alt="avatar" width="39" height="39"/>
                  </footer>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. </p>
                  <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

                </article>
                <!--END/ .comment.reply-->

              </li>
              <li>

                <!--START .comment.reply-->
                <article class="comment reply box ">

                  <footer>
                    <span class=" name">Dude One</span>
                    <time datetime="2012-01-24" > January 24, 2012 </time>
                    <img class="avatar" src="images/sample-content/thumb1.png" alt="avatar" width="39" height="39"/>
                  </footer>
                  <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo.Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat.  </p>
                  <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

                </article>
                <!--END/ .comment.reply-->

              </li>
            </ul>

          </li>

          <li>

            <!--START .comment-->
            <article class=" comment box">

              <footer>
                <span class=" name">Dude Three</span>
                <time datetime="2012-01-24" > January 24, 2012 </time>
                <img class="avatar" src="images/sample-content/thumb3.png" alt="avatar" width="68" height="68"/>
              </footer>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

            </article>
            <!--END/ .comment-->

          </li>

          <li>

            <!--START .comment-->
            <article class=" comment box">

              <footer>
                <span class=" name">Dude Four</span>
                <time datetime="2012-01-24" > January 24, 2012 </time>
                <img class="avatar" src="images/sample-content/thumb2.png" alt="avatar" width="68" height="68"/>
              </footer>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat. </p>
              <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

            </article>
            <!--END/ .comment-->

          </li>

          <li>

            <!--START .comment-->
            <article class=" comment box">

              <footer>
                <span class=" name">Dude Four</span>
                <time datetime="2012-01-24" > January 24, 2012 </time>
                <img class="avatar" src="images/sample-content/thumb2.png" alt="avatar" width="68" height="68"/>
              </footer>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat. </p>
              <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

            </article>
            <!--END/ .comment-->

          </li>


          <li>

            <!--START .comment-->
            <article class=" comment box">

              <footer>
                <span class=" name">Dude Four</span>
                <time datetime="2012-01-24" > January 24, 2012 </time>
                <img class="avatar" src="images/sample-content/thumb2.png" alt="avatar" width="68" height="68"/>
              </footer>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit. Nunc egestas mauris ut nisl rhoncus lacinia pulvinar eros sollicitudin. Mauris diam ligula, posuere in fringilla id, gravida a risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu neque augue, ut iaculis urna. Quisque sit amet velit vel ante gravida consequat. </p>
              <a href="#" class="gray-text hover-skin-text  bold left">+ Reply</a>

            </article>
            <!--END/ .comment-->

          </li>
        </ol>



        <!--START comment form-->
        <div  id ="comment-form" class="box m-t-6">
          <h4 class="title-format-3 f-20">Leave a <span class="skin-text">Comment</span> </h4>
          <p class="sub-title">Have something to say ?</p>
          <hr class="h-1">

          <form method="post" action="#">

            <!--Name-->
            <p>
              <label>Name <span class="orange-text">*</span></label>
              <input type="text" required="required" placeholder="Your name" name="author" id="author">
            </p>

            <!--Email-->
            <p>
              <label>Email<span class="orange-text">*</span></label>
              <input type="text" required="required" placeholder="yourmail@provider.com" name="email" id="email">
            </p>

            <!--Website-->
            <p>
              <label>Website</label>
              <input type="text" placeholder="http://yoursite.com" value="" name="url" id="url">
            </p>

            <!--Comment content-->
            <p>
              <label for="comment">Comment <span class="orange-text">*</span></label>
              <textarea required="required" rows="8" cols="45" name="comment" id="comment"></textarea>
            </p>

            <!--Submit button-->
            <p><input class="medium skin button" type="submit" value="Post" name="submit"></p>

          </form>
        </div>
        <!--END / comment form-->

      </section>
      <!-- END / #comments-->

    </div>
    <!--END/ .post -->
  </article>
  <!--END / GRID COLUMN that contains the blog post-->

  <!--START GRID COLUMN .sidebar -->
  <aside class="sidebar c-4-12">
    <div class="g">

      <!--START .widget -->
      <section class ="widget mark-links">

        <p class="fontface-1 gray-text"><span class="title-format-2 bold skin-text f-17">Hey this is awesome..</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci.</p>

        <!-- search -->
        <form>
          <input placeholder="Search Blog Posts" class="search animate-long "/>
        </form>

      </section>
      <!-- END / .widget-->


      <!--START .recent-posts .widget -->
      <section class ="recent-posts preload-images widget">

        <h3 class="title">Recent posts</h3>
        <ul>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb1.png"></a>
            <div class="content">
              <a href="#">Kinda Long title goes like this you see it's pretty long</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb3.png"></a>
            <div class="content">
              <a href="#">This ain't a long title but I can make it like this</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

          <li>
            <a class = "image left" href="#"><img width="50" height="50" alt="" src="images/sample-content/thumb2.png"></a>
            <div class="content">
              <a href="#">Here goes the titlte</a>
              <span class=" ">12 hours ago | <a href="#">2 comments</a></span>
            </div>
          </li>

        </ul>

      </section>
      <!-- END / .recent-posts .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Categories</h3>
        <ul class="list">
          <li><a href="#"> List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">Graphics <span class="gray-3 white-text mark right rounded-fully">17</span> </a></li>
          <li><a href="#">Web designing <span class="gray-3 white-text mark right rounded-fully">7</span> </a></li>
          <li><a href="#">Lorem ipsum <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
          <li><a href="#">List item <span class="gray-3 white-text mark right rounded-fully">57</span> </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Archive</h3>
        <ul class="list">
          <li><a href="#">October </a></li>
          <li><a href="#">November </a></li>
          <li><a href="#">December </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="widget">

        <h3 class="title">Keep browsing..</h3>
        <ul class="list">
          <li><a href="#">Skin and font changer</a></li>
          <li><a href="#">demention Grid</a></li>
          <li><a href="demo-typography.html">Typography</a></li>
          <li><a href="#">Contact us </a></li>
        </ul>

      </section>
      <!-- END / .widget-->


      <!--START .widget -->
      <section class="flickr widget">

        <h3 class="title">Flickr feed</h3>
        <div class="row ss-float gallery-style-2 portrait-3-col animate-long" id="flickr"></div>

      </section>
      <!-- END / .widget-->


    </div>
  </aside>
  <!--END / GRID COLUMN  .sidebar -->

</div>
<!-- END / .row-->
