.sponsor-page.page-bg
  .span10.hero-unit
    %h1 Support Amazing Startups!
  .row
    .span3
      %p
    .span6
      %h2 $5k - nReduce Partner Company
      %h3 (only 3 available)
      %br
      %p Prominent logo on our nReduce homepage for 6months, permanent listing on nreduce.com/sponsors.
      %p Prominent mention in 7 of our weekly newsletter to over 2,000 spectators.
      %p Dedicated Email to all nReduce startups pitching your product/service.
      %p Give your pitch at 7 of our weekly dinners (if you can't make it to SF, we'll have an nReduce partner pitch for you)
      %p Opportunity to post a signs / give handouts at our weekly dinners.
      %h2 $2.5k - Gold
      %p Mention in 3 of our weekly newsletters to over 2,000 spectators.
      %p Permanent listing on nreduce.com/sponsors.
      %p Give your pitch at 3 of our weekly dinners (if you can't make it to SF, we'll have an nReduce partner pitch for you)
      %p Opportunity to post a signs / give handouts at our weekly dinners.
      %p
      %h2 $1k - Silver
      %p Mention in our weekly newsletter to over 2,000 spectators.
      %p Permanent listing on nreduce.com/sponsors.
      %p Give your pitch at one of our weekly dinners (if you can't make it to SF, we'll have an nReduce partner pitch for you)
      %p Opportunity to give handouts at our weekly dinners.
      %br
      %br
      %h2 Interested?
      %h4 The first batch of sponsors get a massive discount, so email us today!
      %h4 <a href="mailtop:sponsors@nReduce.com">sponsors@nreduce.com</a>
      %br
      %br
      %br



