.who-page.page-bg
  .span10.hero-unit
    %h1 We love startups.
  .row{:style=>'text-align: center'}
    .span2
      %img{:src => "./img/jacques.png", :alt => "Jacques Crocker"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/in/jacquescrocker"}Jacques Crocker
      %p Veteran Rails Hacker,<br>University of Washington C.S.
    .span2
      %img{:src => "./img/rich.png", :alt => "Richard Lengsavath"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/pub/richard-lengsavath/41/aba/b09"}Richard Lengsavath
      %p CEO MealPop, B.S. Symbolic Systems at Stanford
    .span2
      %img{:src => "./img/joe.png", :alt => "Joe Mellin"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/in/joemellin"}Joe Mellin
      %p Co-Founded Proven.com, MS Product Design Stanford
    .span2
      %img{:src => "./img/josh.jpg", :alt => "Josh Schwartzman"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/in/joshschwartzman"}Josh Schwartzman
      %p Co-Founded Pintrips.com,<br />StartupBus Conductor
    .span2
      %img{:src => "./img/dude.png", :alt => "Paul Eikelenboom"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/in/pauleikelenboom"}Paul Eikelenboom
      %p Founder Frisidee.nl, MBA RSM
    .span2
      %img{:src => "./img/ash.png", :alt => "Ash Bhoopathy"}
      %br
      %br
      %a{:href => "http://www.linkedin.com/in/ashbhoopathy"}Ash Bhoopathy
      %p Founder Better.at, MsDes/MBA IIT
      %br
      %br
      %br