<!-- START .slider-holder   - section - #primary-slider -->
<section id ="primary-slider" class ="slider-holder">
  <!-- START .slider -->
  <div class="slider">

    <!-- START .slides -->
    <ul class="slides">

      <!-- START slide -->
      <li>
        <a class="image" href="#" data-image-caption = "Here goes the content you want <span class='title skin-text'>Hey this is awesome... </span>">
          <img src="images/sample-content/slider.png" alt=""/>
        </a>
      </li>
      <!-- END/ slide -->

      <!-- START slide -->
      <li>
        <a class="image"  href="#" data-image-caption = "<span class='title skin-text'>Hey this is awesome... </span> You can add any HTML element ">
          <img src="images/sample-content/slide4.png" alt=""/>
        </a>
      </li>
      <!-- END/ slide -->

      <!-- START slide -->
      <li>
        <a class="image"  href="#">
          <img src="images/sample-content/slide3.png" alt=""/>
        </a>
      </li>
      <!-- END/ slide -->

      <!-- START slide -->
      <li>
        <a class="image"  href="#">
          <img src="images/sample-content/slide2.png" alt=""/>
        </a>
      </li>
      <!-- END/ slide -->

    </ul>
    <!-- END / .slides -->

  </div>
  <!-- END / .slider -->
</section>
<!-- END / .slider-holder  - section - #primary-slider-->