<!-- START secton - Testimonial and Recent Projects-->
<section>

  <!-- Section title-->
  <h1 class="section-title">Recent Projects and Testimonials <!--Underline - hover effect--><span class="line-effect"></span></h1>

  <!-- START .row-->
  <div class="row gutter-width-1 portrait-2-col">

    <!-- START GRID COLUMN - contains the portfolio gallery-->
    <div class="c-8-12">
      <div class="g box divider-right">

        <!-- START .row .gallery-->
        <div class="row gallery-style-2  ss-float ss-2-col portrait-2-col">

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio3.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio2.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio4.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio1.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

          <!--START GRID COLUMN-->
          <div class="c-4-12">

            <a href="portfolio-single.html" class="g image" data-image-caption ="<h4 class='title skin-text'>Project name... </h4> Add anything you want </div>">
              <img alt="" src="images/sample-content/portfolio2.png">
            </a>

          </div>
          <!--END/ GRID COLUMN-->

        </div>
        <!--END/ .row  .gallery-->

        <a class="bold right f-12 m-t" href="gallery-four-col.html">View portfolio &rarr;</a>

      </div>
    </div>
    <!-- END/ GRID COLUMN -  contains the portfolio gallery-->

    <!-- START GRID COLUMN -  contains Testimonials-->
    <div class="c-4-12">
      <div class="g">

        <blockquote class="divider-bottom m-b">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus   quam ac luctus rutrum, nulla mi congue orci.</p>
          <cite>&ndash;&nbsp; Steve Jobs  </cite>
        </blockquote>

        <blockquote class="divider-bottom m-b">
          <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo.</p>
          <cite>&ndash;&nbsp; demention Inc.  </cite>
        </blockquote>

        <blockquote>
          <p>Duis id turpis mauris, tempus lacinia est. Ut malesuada fermentum vulputate. Nulla facilisi.</p>
          <cite>&ndash;&nbsp; John Doe  </cite>
        </blockquote>

      </div>
    </div>
    <!-- END/ GRID COLUMN -  contains Testimonials-->

  </div>
  <!-- END/ .row-->

</section>
<!-- END/ secton - Testimonial and Recent Projects-->
