
<!-- START secton - .posts-->
<section class="posts">

  <!-- Section title-->
  <h1 class="section-title">Recent from the blog  <!--Underline - hover effect--><span class="line-effect"></span></h1>

  <!--START .row-->
  <div class="row gutter-width-1 preload-images">

    <!--START GRID COLUMN-->
    <div class="c-3-12">
      <!--START .post .excerpt-->
      <div class="g post excerpt">

        <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
        <span class="post-info"><time datetime="2012-03-24">12 hours ago</time> | <a href="single-blog-post.html#comments">2 comments</a></span>

        <a href="images/sample-content/portfolio4.png" class="image fancybox"><img src="images/sample-content/portfolio4.png" alt="" ></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

        <!--.read-more link-->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
      </div>
      <!--END/ .post .excerpt-->
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-3-12">
      <!--START .post .excerpt-->
      <div class="g post excerpt">

        <h2 class="title"><a href="single-blog-post.html">Title goes here like this yep it's here</a></h2>
        <span class="post-info"><time datetime="2012-03-25" >1 day ago</time> | <a href="single-blog-post.html#comments">10 comments</a></span>

        <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

        <!--.read-more link-->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
      </div>
      <!--END/ .post .excerpt-->
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-3-12">
      <!--START .post .excerpt-->
      <div class="g post excerpt">

        <h2 class="title"><a href="single-blog-post.html">Title goes here</a></h2>
        <span class="post-info"><time datetime="2012-03-26" >2 days ago</time> | <a href="single-blog-post.html#comments">12 comments</a></span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

        <!--.read-more link-->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
      </div>
      <!--END/ .post .excerpt-->
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-3-12">
      <!--START .post .excerpt-->
      <div class="g post excerpt">

        <h2 class="title"><a href="#">Title goes here</a></h2>
        <span class="post-info"><time datetime="2012-03-27" >3 days ago</time> | <a href="single-blog-post.html#comments">25 comments</a></span>

        <p>Vivamus condimentum, quam ac luctus rutrum, nulla mi congue orci, ut accumsan urna orci id leo. Aenean dapibus interdum suscipit ...</p>

        <!--.read-more link-->
        <a href="single-blog-post.html" class="read-more">Read more &rarr;</a>
      </div>
      <!--END/ .post .excerpt-->
    </div>
    <!--END/ GRID COLUMN-->

  </div>
  <!--END/ .row-->

</section>
<!-- END/ secton - .posts-->
