<!-- START secton - why us-->
<section>

  <!-- Section title-->
  <h1 class="section-title">Why this template ?   <!--Underline - hover effect--><span class="line-effect"></span></h1>

  <!--START .row-->
  <div class="row gutter-width-1 m-b-4">

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="#" class="g divider-right">

        <!--.circle-element-->
        <div class="circle-element skin left"><img  src="images/sample-content/icons/Breifcase.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text title-format-2 f-20">Responsive</h2>
          <span class="sub-title f-13">Adaptable to any Screen size</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="#" class="g divider-right">

        <!--.circle-element-->
        <div class="circle-element skin left"><img  src="images/sample-content/icons/Airplane.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text title-format-2  f-20">Modern</h2>
          <span class="sub-title f-13">Modern Web standards</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

    <!--START GRID COLUMN-->
    <div class="c-4-12">
      <a href="#" class="g ">

        <!--.circle-element-->
        <div class="circle-element skin left"><img src="images/sample-content/icons/Tools.png" alt="" ></div>

        <!--.content-->
        <div class="content p-1">
          <h2 class="hover-skin-text  title-format-2 f-20">Highly customizable</h2>
          <span class="sub-title f-13">Powerful framework</span>
        </div>
        <!--END/ .content-->

      </a>
    </div>
    <!--END/ GRID COLUMN-->

  </div>
  <!--END/ .row-->
</section>
<!-- END/ secton - why us-->
