//
#console
  display: none
  position: fixed
  top: 0
  left: 15px
  width: 500px
  margin: 0
  font-size: 14px
  font-style: italic
  background-color: #69697A
  text-shadow: none
  text-align: left
  padding: 3px 10px
  border-radius: 0 0 10px 10px
  z-index: 10000
  opacity: 1.0
  color: #fff


.slide-bg
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 0
  display: none


#imagine_slide_bg
  background: url("../img/slidebg/big_sun.png") no-repeat
  background-position: bottom left

#rules_slide_bg
  +linear-gradient(top, #76BEF9, #5C95C3)

#ship_slide_bg
  background: url("../img/slidebg/shipping_port.jpg") no-repeat
  background-size: 100%

#compare_slide_bg
  background-color: #F76401

#signup_slide_bg
  background: #C0D8F7 url("../img/slidebg/nyc-marathon-sm.jpg") no-repeat
  background-size: 100%
  background-position: center bottom

#details_slide_bg
  background: #6BA3D1 url("../img/slidebg/sf_office.jpg") no-repeat
  background-size: 100%

#schedule_slide_bg
  background: #10141A url("../img/slidebg/goldengate_night.jpg") no-repeat
  background-size: 100%

#faq_slide_bg
  background: #000 url("../img/slidebg/moon2.jpg") no-repeat
  background-size: 100%


