#faq_slide
  h2
    margin-bottom: 30px
  .scroll-content
    padding: 40px 60px

  .question
    margin-bottom: 30px
    h3
      text-align: left
      +linear-gradient(top, #F3F7FA, #ECF1F2)
      padding-left: 48px
      background-image: url("../img/landing/q2.png")
      background-repeat: no-repeat
      background-position: top left
      min-height: 40px
      line-height: 40px
      +box-sizing(border-box)
      +border-radius(5px)
      color: #2E74A9
      font-size: 16px
    p
      text-align: left
      font-size: 16px
      margin-top: 10px
      padding-left: 48px
      margin-bottom: 20px
      font-weight: 300
      letter-spacing: 0
