.presentation .slide-last
  border-bottom: 0 !important
  p
    font-size: 36px
    margin: 60px 0
    line-height: 1.5

  h2
    font-size: 24px
    color: #000
    text-align: left
    border-top: 6px solid #EAEAEA
    padding-top: 8px
    margin-top: 60px


  .details
    text-align: left
    margin: 0 50px
    h2
      margin-bottom: 15px
    .detail
      label
        display: block
        font-size: 14px
        font-weight: 100
        color: #7E7E7E
      h3
        text-align: left
        font-size: 32px
        font-weight: normal
        color: #4F4F4F
        line-height: 1.0
        margin-bottom: 35px
        a
          text-decoration: underline
        .sep
          display: block
          font-size: 12px
          font-weight: 100
          margin-top: 5px
          margin-bottom: 5px

  .schedule
    margin: 0 50px
    h2
      margin-bottom: 30px
    .schedule-heading
      +clearfix
      width: 630px
      .schedule-date
        font-size: 14px
        color: #7E7E7E
        width: 135px
        border: 1px solid #B4B4B4
        padding: 7px 10px
        float: left
        +box-sizing(border-box)
      .schedule-title
        +linear-gradient(top, #F3F7FA, #ECF1F2)
        +box-sizing(border-box)
        padding: 7px 10px
        width: 487px
        float: left
        border: 1px solid #B4B4B4
        margin-left: -1px
        color: #2E74A9
        font-weight: bold
    .schedule-body
      font-size: 16px
      padding: 10px
      padding-left: 144px
      line-height: 1.4
      font-weight: 100
      margin-bottom: 10px
      strong
        font-weight: 500

